
@{
    ViewData["Title"] = "Index";
}

<h1>Detalle Medicamento</h1>



<script src="~/js/sweetalert.js"></script>
<script src="~/js/bootstrap.js"></script>
<script src="~/js/generic.js"></script>
<script src="~/js/detallemedicamento.js"></script>
