    <div>
        <div id="grid1"></div>
    </div>
    <br />
    <div>
        Ajustando ancho columnas
        <div id="grid2"></div>
    </div>
    <div>
        Configurando Formatos de celdas
        <div id="grid3"></div>
    </div>
    <div>
        Configurando Filtrado
        <div id="grid4"></div>
    </div>
    <div>
        Select multiple de filas
        <div id="rowSelection"></div>
    </div>
    <div>
        Grid con seleccion multiple de celdas
        <div id="cellSelection"></div>
    </div>
    <div>
        Captura de eventos
        <div id="grid5"></div>
    </div>
    <div>
        Edicion Grid
        <div id="grid6"></div>
    </div>
    <div>
        Edicion Popup Grid
        <div id="grid7"></div>
    </div>
    <div id="winDatos">
        <input id="txtIdentificacion"  />
        <input id="txtNombres" />
        <input id="txtApellidos" />
        <input id="txtCelular" />
        <input id="txtEdad" />
        <input id="dtFechaNacimiento" />
        <input id="txtIngresos" />
    </div>
@section scripts{
    <script src="~/js/grid.js"></script>
}