
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<button id="btnBotonNuevo" class="btn btn-primary mt-2 mb-2" onclick="NuevaPagina()" >Nuevo</button>

<div id="divTabla">

    </div>

     <script src="~/js/sweetalert.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/generic.js"></script>
    <script src="~/js/pagina.js"></script>
