<head>
    <base href="https://demos.telerik.com/kendo-ui/barcode/index">
    <style>html { font-size: 14px; font-family: Arial, Helvetica, sans-serif; }</style>
    <title></title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.3.1109/styles/kendo.default-ocean-blue.min.css" />

    <script src="https://kendo.cdn.telerik.com/2022.3.1109/js/jquery.min.js"></script>
    
    
    <script src="https://kendo.cdn.telerik.com/2022.3.1109/js/kendo.all.min.js"></script>
    
    

</head>
<body>
        <ul id="dairy">
            <li>
                <img src="../content/shared/images/foods/200/12.jpg" alt="Queso Manchego La Pastora" />
                <span id="manchego"></span>
            </li>
            <li>
                <img src="../content/shared/images/foods/200/32.jpg" alt="Mascarpone Fabioli" />
                <span id="mascarpone"></span>
            </li>
            <li>
                <img src="../content/shared/images/foods/200/72.jpg" alt="Gudbrandsdalsost" />
                <span id="gudbrands"></span>
            </li>
        </ul>
        <script>
            $(document).ready(function () {
                $("#manchego").kendoBarcode({
                    value: "2346722",
                    type: "ean8",
                    width: 280,
                    height: 100
                });
                $("#mascarpone").kendoBarcode({
                    value: "Mascarpone",
                    type: "code128",
                    width: 280,
                    height: 100
                });
                $("#gudbrands").kendoBarcode({
                    value: "CHEESE",
                    type: "code39",
                    width: 280,
                    height: 100
                });
            });
        </script>
        <style>
            #dairy {
                margin: 0;
                padding: 30px 0;
                list-style-type: none;
            }
            #dairy li {
                display: inline-block;
                padding: 10px;
                margin: 6px;
                background-color: #fff;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
                -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
                -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
            }
            #dairy li span, #dairy li img {
                margin: 0;
                padding: 0;
            }
            #dairy li img {
                margin: 40px;
            }
        </style>

    <div id="example">
        <div class="configurator">
            <div class="header">Configurator</div>
            <div class="box-col">
                <h4>Options</h4>
                <ul class="options">
                    <li><input type="checkbox" id="text" checked="checked" /><label for="text">Show Text </label></li>
                    <li><input type="checkbox" id="checksum" /><label for="checksum">Show Checksum</label></li>
                </ul>
            </div>
            <div class="box-col">
                <h4>Types</h4>
                <ul class="options second-col">
                    <li><label for="type">Encoding:</label><input id="type" /></li>
                    <li>
                        <label for="value">Value:</label><input id="value" value="1234567" />
                        <span id="validValue" class="k-form-error k-invalid-msg"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="demo-section">
            <div id="barcode2"></div>
        </div>

        <script>
            function setOptions(e) {
                var validValue = $('#validValue');
                if (this.element && this.element[0].id == "type") {
                    $('#value').val(this.dataItem().value);
                }
                try {
                    var barcode = $('#barcode2').data('kendoBarcode');
                    barcode.setOptions({
                        value: $('#value').val(),
                        checksum: $('#checksum').is(':checked'),
                        text: {
                            visible: $('#text').is(':checked')
                        },
                        type: $('#type').kendoDropDownList('value')
                    })
                    validValue.hide();
                } catch (e) {
                    validValue.text(e.message).show();
                }
            }

            $(document).ready(function () {

                $('#type').kendoDropDownList({
                    dataSource: [
                        { type: 'EAN8', value: "1234567" },
                        { type: 'EAN13', value: "123456789987" },
                        { type: 'UPCE', value: "123456" },
                        { type: 'UPCA', value: "12345678998" },
                        { type: 'Code11', value: "1234567" },
                        { type: 'Code39', value: "HELLO" },
                        { type: 'Code39Extended', value: "Hi!" },
                        { type: 'Code128', value: "Hello World!" },
                        { type: 'Code93', value: "HELLO" },
                        { type: 'Code93Extended', value: "Hello" },
                        { type: 'Code128A', value: "HELLO" },
                        { type: 'Code128B', value: "Hello" },
                        { type: 'Code128C', value: "123456" },
                        { type: 'MSImod10', value: "1234567" },
                        { type: 'MSImod11', value: "1234567" },
                        { type: 'MSImod1010', value: "1234567" },
                        { type: 'MSImod1110', value: "1234567" },
                        { type: 'GS1-128', value: "12123456" },
                        { type: 'POSTNET', value: "12345" }
                    ],
                    change: setOptions,
                    dataTextField: "type",
                    dataValueField: "type"
                });

                $("#barcode2").kendoBarcode({
                    value: "1234567",
                    type: "ean8"
                });

                $('#value,#checksum,#text').change(setOptions);
            });
        </script>
        <style type="text/css">

            #barcode2{
                width: 300px;
                margin: 20px auto;
            }
        </style>
    </div>

    <div id="example3">
        <div class="configurator">
            <div class="header">Configurator</div>
            <div class="box-col">
                <h4>Value</h4>
                <input data-bind="value:barcode" data-value-update="keyup">
            </div>
        </div>
        <div class="demo-section">
            <div>
                <span data-role="barcode" data-type="code128" data-bind="value:barcode" style="width: 250px; margin: 0px auto"></span>
            </div>
        </div>
        <script>
            function createBarcode(){
                var viewModel = kendo.observable({
                    barcode: 'Cheese'
                });
                kendo.bind($("#example3"), viewModel);
            }
            $(document).ready(createBarcode).bind("kendo:skinChange", createBarcode);
        </script>
        
    </div>

</body>
