<div id="grid"></div>

<div>
    Grid con seleccion y exportacion
    <div id="grid2"></div>
</div>

<div>
    Batch Editing
    <div id="grid3"></div>
</div>

<div>
    Inline Editing
    <div id="grid4"></div>
</div>

<div>
    Popup Editing
    <div id="grid5"></div>
</div>

<div>
    Custom Editing
    <div id="grid6"></div>
</div>

<div>
    Filter Row
    <div id="grid7"></div>
</div>

<div>
    Filter Multichecboxes
    <div id="server">Server Operations</div>
    <div id="client">Client Operations</div>
</div>

<div>
    Drag and Drop
    <div class="k-flex-grow">
        <h4 class="mb-sm">Productos Disponibles</h4>
        <div id="inStockProductsGrid"></div>
    </div>
    <div class="k-flex-grow">
        <h4 class="mb-sm">Productos no Disponibles</h4>
        <div id="discontinuedGrid"></div>
    </div>
</div>

<div>
    Sorting
    <h4>Grid con una sola columna habilitada para clasificar </h4>
    <div id="singleSort"></div>

    <h4>Grid con varias columnas habilitadas para clasificar</h4>
    <ul>
        <li>
            Para hacer varias clasificaciones de columnas, manten el "CTRL" y clickea las cabeceras de las columnas
        </li>
    </ul>
    <div id="mixedSort"></div>
</div>

<div>
    Search Panel
    <div id="grid8"></div>
</div>

<div>
    <h4>Grid con multiple seleccion de Fila</h4>
    <div id="rowSelection"></div>

    <h4>Grid con multiple seleccion de Celdas</h4>
    <div id="cellSelection"></div>
</div>

<div>
    Checkbox Selection
    <div id="grid9"></div>
</div>

<div>
    Hierarchy
    <div id="grid10"></div>
</div>

<div>
    Persist State
    <div class="box-col">
        <button id="save">Guardar</button>
        <button id="load">Cargar</button>
    </div>
    <div id="grid11"></div>
</div>

<div>
    Hiding Grouped Column
    <div id="grid12"></div>
</div>

<div>
    Frozen Columns
    <div id="grid13"></div>
</div>

<div>
     Sticky Columns   
    <div id="grid14"></div>
</div>

<div>
    Multi - Column Headers
    <div id="grid15"></div>
</div>

<div>
    Column Reordering
    <div id="grid16"></div>
</div>

<div>
    Column Resizing
    <div id="grid17"></div>
</div>

<div>
    Foreign Key Column
    <div id="grid18"></div>
</div>

<div>
    Events
    <div id="grid19"></div>
</div>
<script src="~/js/site.js"></script>