<div id="example">
    <div class="configurator">
        <div class="box-col">
            <h4>Export page content</h4>
            <div class="box-col">
                <button class='export-pdf'>Export as PDF</button>
            </div>
            <div class="box-col">
                <button class='export-img'>Export as Image</button>
            </div>
            <div class="box-col">
                <button class='export-svg'>Export as SVG</button>
            </div>
        </div>
    </div>

    <div class="demo-section export-app wide hidden-on-narrow">
        <div class="demo-section content-wrapper wide">
          <div class="demo-section charts-wrapper wide">
            <div id="users"></div>
            <div id="applications"></div>
            <div id="referrals"></div>
          </div>
          <div id="grid"></div>
        </div>
    </div>

    <div class="responsive-message"></div>
</div>


<script src="~/js/pdfexport.js"></script>