<div class="demo-section" style="text-align: center;">
    <h4>Elige una fecha</h4>
    <div id="calendar2"></div>
</div>

<div class="demo-section" style="text-align: center;">
    Customizing Templates
    <h4>Elige una fecha</h4>
    <div>
        <div id="calendar"></div>
    </div>
</div>
<div class="box">
    <div class="box-col">
        <h4>Set component  type</h4>
        <input id="dropDownList" />
    </div>
</div>

<div class="demo-section" style="text-align: center;">
    Dias Deshabilitados
    <h4>Fines de semana Deshabilitados</h4>
    <div id="weekend-calendar"></div>

    <h4 style="margin-top:1em">Dias Festivos USA 2015</h4>
    <div id="national-holidays"></div>
</div>

<div class="demo-section" style="text-align: center;">
    <h4>Seleccion Multiple Fecha</h4>
    <div id="calendar4"></div>
</div>

<div class="demo-section" style="text-align: center;">
    <h4>Seleccione una Fecha</h4>
    <div id="calendar5"></div>
</div>
<script src="~/js/calendar.js"></script>