<div class="demo-section wide" style="display: inline-block;">
    <h4>Seleccione una Fecha</h4>
    <div id="multiViewCalendar"></div>
</div>

<div class="demo-section wide" style="display: inline-block;">
    Multiple Views
    <div style="margin-bottom: 20px;">
        <input id="numberOfViews" />
        <button id="numberOfViewsBtn">Apply Changes</button>
    </div>
    <div id="multiViewCalendar2"></div>
</div>

<div class="demo-section wide" style="display: inline-block; margin: 0 auto 4.5em">
    <h4>Seleccion Multiple</h4>
    <div id="multipleMultiViewCalendar3"></div>
</div>

<div class="demo-section wide" style="display: inline-block;">
    Week Column
    <h4>Seleccion una Fecha</h4>
    <div id="multiViewCalendar4"></div>
</div>
<script src="~/js/multiviewcalendar.js"></script>
