<div id="team-schedule"></div>
<div id="scheduler"></div>

Year View
<div id="scheduler2"></div>

Selection
<div id="scheduler3"></div>

Search
<div id="scheduler4"></div>

Move & Resize
<div id="scheduler5"></div>

Events
<div id="scheduler6"></div>
<script src="~/js/scheduler.js"></script>
