Basic Usage
<div class="configurator">
    <div class="header">Configurator</div>
    <div class="box-col">
        <h4>Configuration</h4>
        <div>
            <button id="start-progress">Start Progress</button>
            <button id="reset-progress">Reset Progress</button>
        </div>
    </div>
</div>

<div class="circular-container">
    <div id="progressbar"></div>
</div>
<style>
    .circular-container {
        padding: 3em;
    }
</style>

Interminate
<div class="circular-container">
    <div id="progressbar3"></div>
</div>

Color
<div class="configurator">
    <div class="header"></div>
    <div class="box-col">
        <div>
            <button id="value1">Start Value to 0</button>
            <button id="value2">Start Value to 25</button>
            <button id="value3">Start Value to 50</button>
            <button id="value4">Start Value to 75</button>
            <button id="value5">Start Value to 100</button>
        </div>
    </div>
</div>

<div class="circular-container">
    <div id="progressbar4"></div>
</div>
<script src="~/js/circularprogressbar.js"></script>