 <div class="configurator">
    <div class="header">Configurator</div>
    <div class="box-col">
        <h4>
            Selecciona el tipo de carga: 
        </h4>
        <input id="type"/>
    </div>
</div>

<div class="k-d-flex k-align-items-center">
    <div class="k-flex-1 k-text-center">
        <div>Small</div>
        <div class="example-item-wrap k-d-flex k-align-items-center k-justify-content-center">
            <div id="loader-small"></div>
        </div>
    </div>
    <div class="example-item k-flex-1 k-text-center">
        <div>Medium</div>
        <div class="example-item-wrap k-d-flex k-align-items-center k-justify-content-center">
            <div id="loader-medium"></div>
        </div>
    </div>
    <div class=" example-item k-flex-1 k-text-center">
        <div>Large</div>
        <div class="example-item-wrap k-d-flex k-align-items-center k-justify-content-center">
            <div id="loader-large"></div>
        </div>
    </div>
</div>

Color Variations

<div class="configurator">
    <div class="header">Configurator</div>
    <div class="box-col">
        <h4>Selecciona el tipo de carga: </h4>
        <input id="type2" />
    </div>
</div>
<div class="k-d-flex k-align-items-center k-text-center">
    <div class="example-item k-flex-1">
        <div>Primary</div>
        <div id="loader-primary"></div>
    </div>
    <div class="example-item k-flex-1">
        <div>Secondary</div>
        <div id="loader-secondary"></div>
    </div>
    <div class="example-item k-flex-1">
        <div>Info</div>
        <div id="loader-info"></div>
    </div>
    <div class="example-item k-flex-1">
        <div>Success</div>
        <div id="loader-success"></div>
    </div>
    <div class="example-item k-flex-1">
        <div>Warning</div>
        <div id="loader-warning"></div>
    </div>
    <div class="example-item k-flex-1">
        <div>Error</div>
        <div id="loader-error"></div>
    </div>
</div>

Integration 

<div class="demo-section k-text-center">
    <button id="toggle" class="k-button k-button-solid-base k-button-solid k-button-md k-rounded-md">
        <div id="loader"></div>
        Show Loader
    </button>
</div>
<script src="~/js/loader.js"></script>