<div id="example">
    <div class="demo-section">
        <h2>What are your favourite recent movies?</h2>
        <ul class="forms">
            <li>
                <label>First favourite</label>
                <select id="favouriteMovie1" style="width: 100%;">
                    <option value="fastAndFurious">Fast and Furious 6</option>
                    <option value="nowYouSeeMe">Now you see me</option>
                    <option value="theHelp">The Help</option>
                    <option value="theInternship" selected>The Internship</option>
                    <option value="thePerks">The Perks of Being a Wallflower</option>
                </select>
            </li>
            <li>
                <label>Second favourite</label>
                <select id="favouriteMovie2" style="width: 100%;">
                    <option value="fastAndFurious" selected>Fast and Furious 6</option>
                    <option value="nowYouSeeMe">Now you see me</option>
                    <option value="theHelp">The Help</option>
                    <option value="theInternship">The Internship</option>
                    <option value="thePerks">The Perks of Being a Wallflower</option>
                </select>
            </li>
            <li>
                <label>Third favourite</label>
                <select id="favouriteMovie3" style="width: 100%;">
                    <option value="fastAndFurious">Fast and Furious 6</option>
                    <option value="nowYouSeeMe" selected>Now you see me</option>
                    <option value="theHelp">The Help</option>
                    <option value="theInternship">The Internship</option>
                    <option value="thePerks">The Perks of Being a Wallflower</option>
                </select>
            </li>
            <li>
                <button id="voteButton" class="k-button k-button-solid-primary k-button-solid k-button-md k-rounded-md">Vote</button>
            </li>
        </ul>
    </div>
    <div class="demo-section">
        <h2>Poll results</h2>
        <ul class="poll-results">
            <li>
                <h4>Fast and Furious 6</h4>
                <div id="fastAndFurious" tabindex="0"></div>
            </li>
            <li>
                <h4>Now you see me</h4>
                <div id="nowYouSeeMe"></div>
            </li>
            <li>
                <h4>The Help</h4>
                <div id="theHelp"></div>
            </li>
            <li>
                <h4>The Internship</h4>
                <div id="theInternship"></div>
            </li>
            <li>
                <h4>The Perks of Being a Wallflower</h4>
                <div id="thePerks"></div>
            </li>
        </ul>
    </div>
    <style>

        .demo-section h2 {
            font-weight: normal;
            margin-bottom: 15px;
        }

        .forms {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

            .forms label {
                display: block;
                font-size: 12px;
                line-height: 1em;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 1em;
            }

            .forms li {
                margin-bottom: 1.5em;
            }

        #voteButton {
            width: 100%;
        }

        .poll-results {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

            .poll-results li:after {
                content: "";
                display: block;
                clear: both;
                height: 3px;
                line-height: 0;
            }

            .poll-results .k-progressbar {
                margin-bottom: 1.5em;
                width: 100%;
            }
    </style>
</div>

Chunk ProgressBar

<div class="demo-section">
    <h4>Profile Completeness: <span id="completed">40%</span></h4>
    <div id="profileCompleteness"></div>
    <ul class="forms">
        <li>
            <label>First Name</label>
            <span class="k-textbox k-input k-input-md k-rounded-md k-input-solid" style="width: 100%;">
                <input type="text" name="firstName" value="" class="k-input-inner" />
            </span>
        </li>
        <li>
            <label>Last Name</label>
            <span class="k-textbox k-input k-input-md k-rounded-md k-input-solid" style="width: 100%;">
                <input type="text" name="lastName" value="" class="k-input-inner" />
            </span>
        </li>
        <li>
            <label>Birthday</label>
            <input id="birthdayInput" type="date" name="birthday" value="" style="width: 100%;" />
        </li>
        <li>
            <label>Gender</label>
            <select id="genderInput" name="gender" style="width: 100%;">
                <option value="male" selected>Male</option>
                <option value="female">Female</option>
                <option value="notsay">Rather not say</option>
            </select>
        </li>
        <li>
            <label>Occupation</label>
            <span class="k-textbox k-input k-input-md k-rounded-md k-input-solid" style="width: 100%;">
                <input type="text" name="occupation" value="Software Developer" class="k-input-inner" />
            </span>
        </li>
    </ul>
    <style>

        #profileCompleteness {
            width: 100%;
        }

        .forms {
            list-style-type: none;
            padding: 2em 0 0;
            margin: 0;
        }

            .forms label {
                display: block;
                font-size: 12px;
                line-height: 1em;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 1em;
            }

            .forms li {
                margin-bottom: 1.5em;
            }
    </style>
</div>

Vertical ProgressBar
<div class="demo-section">
    <div class="loading">
        <div id="totalProgressBar"></div>
        <div id="loadingProgressBar"></div>
    </div>
    <div class="loadingInfo">
        <h4>Loading styles</h4>
        <div class="statusContainer">
            <p>
                Loaded: <span class="loadingStatus">0%</span> <br />
                Item <span class="chunkStatus">1</span> of 4
            </p>
        </div>
        <button class="k-button k-button-solid-primary k-button-solid k-button-md k-rounded-md reloadButton">Reload</button>
    </div>
    <style>
        .demo-section {
            overflow: auto;
        }

        #loadingProgressBar {
            margin-left: 10px;
        }

        .loading {
            float: left;
        }

        .loadingInfo {
            float: left;
            margin: 20px 0 0 30px;
        }

        .reloadButton {
            display: none;
            margin-top: 10px;
        }
    </style>
</div>

Custom Label
<div class="demo-section">
    <ul class="forms">
        <li>
            <label>New Password</label>
            <span class="k-textbox k-input k-input-md k-rounded-md k-input-solid" style="width: 100%;">
                <input id="userPass" type="password" name="userPass" value="" class="k-input-inner" />
            </span>
        </li>
        <li>
            <label id="dedov">Password strength</label>
            <div id="passStrength" tabindex="0" style="width: 100%;"></div>
        </li>
        <li>
            <label></label>
            <button id="submitButton" class="k-button k-button-solid-primary k-button-solid k-button-md k-rounded-md">Reset Password</button>
        </li>
    </ul>
    <style>
        .forms {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

            .forms label {
                display: block;
                font-size: 12px;
                line-height: 1em;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 1em;
            }

            .forms li {
                margin-bottom: 1.5em;
            }

        #submitButton {
            width: 100%;
        }
    </style>
</div>

Events
<div class="demo-section">
    <h4>ProgressBar</h4>
    <div id="progressBar"></div>
    <button id="startProgress" class="k-button k-button-solid-primary k-button-solid k-button-md k-rounded-md">Start progress</button>
    <style>
        #progressBar {
            width: 100%;
            margin-bottom: 10px;
        }
    </style>
</div>
<script src="~/js/progressbar.js"></script>
