<div id="gauge-container">
    <div id="gauge"></div>
    <input id="gauge-value" title="slider" value="65" style="width:200px;height:200px;">
</div>

<div id="gauge-container">
    Colors
    <div id="gauge2"></div>
    <input id="gauge-value2" title="slider" value="65">
</div>

<div id="gauge-container">
    Circular Gauge
    <div id="gauge3"></div>
    <input id="gauge-value3" title="slider" value="65">
</div>
<script src="~/js/arcgauge.js"></script>
