<div id="gauge-container">
    <div id="gauge"></div>
    <input id="gauge-value" title="slider" value="55">
</div>

<div id="gauge-container">
    Color Ranges
    <div id="gauge2"></div>
    <input id="gauge-value2" title="slider" value="40">
</div>
<script src="~/js/circulargauge.js"></script>