<div id="avatar-container">
    <div class="contact-list">Contacts</div>
    <div class="user-data-container">
        <div class="k-hbox">
            <div id="avatar-text" class="avatar-margin-right-5"></div>
            <div style="margin-left: 10px">
                <h2 class="contact-name">Jason Smith</h2>
                <p class="contact-position">UX Desiner</p>
            </div>
        </div>
        <div class="k-hbox">
            <div id="avatar-text-second" class="avatar-margin-right-5"></div>
            <div class="avatar-margin-left-10">
                <h2 class="contact-name">George Porter</h2>
                <p class="contact-position">Software Engineer</p>
            </div>
        </div>
    </div>
    <div class="user-data-container k-hbox">
        <div id="avatar-image-first" class="avatar-margin-right-5"></div>
        <div class="avatar-margin-left-10">
            <h2 class="contact-name">Michael Holz</h2>
            <p class="contact-position">Manager</p>
        </div>
        <div id="avatar-image-second" class="avatar-margin-right-5"></div>
        <div class="avatar-margin-left-10">
            <h2 class="contact-name">Andre Steward</h2>
            <p class="contact-position">Product Manager</p>
        </div>
    </div>
    <div class="user-data-container k-hbox">
        <div id="avatar-icon" class="avatar-margin-right-5"></div>
        <div class="avatar-margin-left-10">
            <h2 class="contact-name">Unknown</h2>
            <p class="contact-position">Not Specified</p>
        </div>
    </div>
</div>

Appearance
<div class="configurator">
    <div class="header">Configurator</div>
    <div class="box-col">
        <ul class="options">
            <li>
                <h4>Size</h4>
                <input id="size" name="size" />
            </li>
        </ul>
    </div>
    <div class="box-col">
        <ul class="options">
            <li>
                <h4>Theme color</h4>
                <input id="themeColor" name="themeColor" />
            </li>
        </ul>
    </div>
    <div class="box-col">
        <ul class="options">
            <li>
                <h4>FillMode</h4>
                <input id="fill" name="fill" />
            </li>
        </ul>
    </div>
    <div class="box-col">
        <ul class="options">
            <li>
                <h4>Rounded</h4>
                <div id="changeRounded"></div>
            </li>
        </ul>
    </div>
    <div class="box-col">
        <h4>Border</h4>
        <div id="border">
            <span>Show</span>
            <span>Hide</span>
        </div>
    </div>
</div>

<div id="container">
    <div id="avatar2"></div>
    <div id="avatar-text2"></div>
    <div id="avatar-icon2"></div>
</div>
<script src="~/js/avatar.js"></script>