<div id="example">
    <div class="cards-container">
        <div class="k-card k-card-horizontal">
            <img class="k-card-image" <img src="~/img/shells.jpg" /> 
            <div class="k-vbox k-column">
                <div class="k-card-body">
                    <h5 class="k-card-title">
                        La guía definitiva de playas
                    </h5>
                    <h6 class="k-card-subtitle">La vida es mejor en la playa</h6>
                    <p>La guía definitiva para todos los amantes de la playa. ¿Estás planeando tus vacaciones de 2020 o simplemente anhelando meter los dedos de los pies en la arena, sentir la brisa marina y recolectar la mayor cantidad de vitamina D posible? Simplemente continúe leyendo para descubrir nuestros lugares de playa favoritos para 2020.</p>
                </div>
                <div class="k-card-actions k-card-actions-vertical k-card-actions-stretched">
                    <span class="k-card-action">
                        <span class="k-button k-button-flat-primary k-button-flat k-button-md k-rounded-md">Leer Más</span>
                    </span>
                    <span class="k-card-action">
                        <span class="k-button k-button-flat-primary k-button-flat k-button-md k-rounded-md">Guardar</span>
                    </span>
                </div>
                <div class="k-card-footer">
                    <span class="footer-item"><span class="k-icon k-i-heart-outline"></span>58</span>
                    <span class="footer-item"><span class="k-icon k-i-comment"></span>7</span>
                    <span class="footer-item"><span class="k-icon k-i-clock"></span>15 m</span>
                </div>
            </div>
        </div>

        <div class="k-card k-card-vertical">
            <img src="~/img/tulips.jpg" />
            <div class="k-card-body">
                <h5 class="k-card-title">Tiempo de tulipanes</h5>
                <p>La temporada de tulipanes está a la vuelta de la esquina. Si aún no ha decidido su destino de primavera, tenemos una sugerencia: ¡Holanda, también conocida como la "tienda de flores del mundo"!</p>
            </div>
            <div class="k-card-actions k-card-actions-stretched">
                <span class="k-card-action">
                    <span class="k-button k-button-flat-primary k-button-flat k-button-md k-rounded-md">Leer más</span>
                </span>
                <span class="k-card-action">
                    <span class="k-button k-button-flat-primary k-button-flat k-button-md k-rounded-md">Guardar</span>
                </span>
            </div>
            <div class="k-card-footer">
                <span class="footer-item"><span class="k-icon k-i-heart-outline"></span>32</span>
                <span class="footer-item"><span class="k-icon k-i-comment"></span>2</span>
                <span class="footer-item"><span class="k-icon k-i-clock"></span>10 m</span>
            </div>
        </div>
    </div>

    <style>
        .cards-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .k-card {
            width: 285px;
            margin: 5%;
        }

        .k-card-footer {
            display: flex;
        }

        .footer-item {
            opacity: 0.7;
            font-size: 11px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 7px;
        }

            .footer-item .k-icon {
                margin-right: 2px;
            }

            .footer-item:last-child {
                margin: 0 0 0 auto;
            }

        .k-card-action > .k-button {
            flex: 1 1 auto;
        }
    </style>
</div>

<div id="example">
    Types
    <div class="cards-container">
        <div class="k-card k-card-horizontal">
            <img src="~/img/sofia.jpg" class="k-card-media" />
            <div class="k-vbox k-column">
                <div class="k-card-header">
                    <h5 class="k-card-title">Titulo Carta</h5>
                    <h6 class="k-card-subtitle">Subtitulo Carta</h6>
                </div>
                <div class="k-card-body">
                    <p>Un ejemplo rapido de como organizar el contenido y titulo de la carta</p>
                </div>
                <div class="k-card-actions k-card-actions-stretched k-card-actions-horizontal">
                    <span class="k-card-action">
                        <span class="k-button k-button-flat-base k-button-flat k-button-md k-rounded-md">Accion 1</span>
                    </span>
                    <span class="k-card-action">
                        <span class="k-button k-button-flat-primary k-button-flat k-button-md k-rounded-md">Accion 2</span>
                    </span>
                </div>
            </div>
        </div>

        <div class="k-card k-card-horizontal">
            <span class="k-card-image">
                <hr class="k-card-separator k-separator-vertical" />
                <img src="~/img/sofia.jpg" class="k-card-media" />
            </span>
            <hr class="k-card-separator k-separator-vertical">
            <div class="k-vbox k-column">
                <div class="k-card-header">
                    <h5 class="k-card-title">Titulo carta</h5>
                    <h6 class="k-card-subtitle">Subtitulo carta</h6>
                </div>
                <div class="k-card-body">
                    <p>Un ejemplo rapido de como organizar el contenido y titulo de la carta</p>
                </div>
                <div class="k-card-actions k-card-actions-stretched k-card-actions-horizontal">
                    <span class="k-card-action">
                        <span class="k-button k-button-flat-base k-button-flat k-button-md k-rounded-md">Accion 1</span>
                    </span>
                    <span class="k-card-action">
                        <span class="k-button k-button-flat-primary k-button-flat k-button-md k-rounded-md">Accion 2</span>
                    </span>
                </div>
            </div>
        </div>

        <div class="k-card k-card-horizontal">
            <img src="~/img/sofia.jpg" class="k-card-media" />
            <div class="k-vbox k-column">
                <div class="k-card-header">
                    <h5 class="k-card-title">Titulo carta</h5>
                    <h6 class="k-card-subtitle">Subtitulo carta</h6>
                </div>
                <div class="k-card-body">
                    <p>Un ejemplo rapido de como organizar el contenido y titulo de la carta</p>
                </div>
                <div class="k-card-actions k-card-actions-stretched k-card-actions-horizontal">
                    <button class="k-button k-button-flat-primary k-button-flat k-button-md k-rounded-md">Accion 1</button>
                </div>
                <div class="k-card-footer">
                    <span>Footer de la carta</span>
                </div>
            </div>
        </div>

        <div class="k-card k-card-vertical k-text-center">
            <div class="k-card-header">
                <h5 class="k-card-title">Sofia</h5>
                <div class="sunny" style="font-family: Segoe UI Emoji; font-size: 3rem;">☀</div>
                <h6 class="k-card-subtitle">Soleado</h6>
            </div>
            <div class="k-card-body">
                <div style="font-size: 3em;">2&ordm;C</div>
            </div>
            <div class="k-card-actions k-card-actions-stretched k-card-actions-horizontal">
                <button class="k-button k-button-flat-base k-button-flat k-button-md k-rounded-md">Accion 1</button>
                <button class="k-button k-button-flat-primary k-button-flat k-button-md k-rounded-md">Accion 2</button>
            </div>
        </div>

        <div class="k-card k-card-vertical">
            <div class="k-card-header">
                <h5 class="k-card-title">Pasajero</h5>
                <h6 class="k-card-subtitle">Carlos Arango</h6>
            </div>
            <div class="k-card-body">
                <div class="k-hbox">
                    <div class="k-column k-text-left">Departure</div>
                    <div class="k-column k-text-right">Arrival</div>
                </div>
                <div class="k-hbox">
                    <div class="k-column k-text-left">
                        <div>SOF</div>
                        <div> 6 Dec 2017<br> 10:30 </div>
                    </div>
                    <div class="k-column k-text-center" style="font-family: Segoe UI Emoji; font-size: 2rem;">✈</div>
                    <div class="k-column k-text-right">
                        <div>LON</div>
                        <div> 6 Dec 2017<br> 12:30 </div>
                    </div>
                </div>
                <hr class="k-card-separator" style="margin: 8px 0;">
                <div class="k-hbox">
                    <div class="k-column k-text-left">
                        <div>LON</div>
                        <div> 12 Dec 2017<br> 18:30 </div>
                    </div>

                    <div class="k-column k-text-center" style="font-family: Segoe UI Emoji; font-size: 2rem;">✈</div>
                    <div class="k-column k-text-right">
                        <div>SOF</div>
                        <div> 12 Dec 2017<br> 22:30 </div>
                    </div>
                </div>
            </div>
            <div class="k-card-footer">
                <div class="k-hbox">
                    <div class="k-column k-text-left">Total</div>
                    <div class="k-column k-text-right">BGN 234</div>
                </div>
            </div>
        </div>

        <div class="k-card k-card-horizontal">
            <div class="k-vbox k-column">
                <div class="k-card-header">
                    <h5 class="k-card-title">Titulo carta</h5>
                    <h6 class="k-card-subtitle">Acciones centradas</h6>
                </div>
                <div class="k-card-body">
                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="k-card-footer">
                    <span>Footer Tarjeta</span>
                </div>
            </div>
            <hr class="k-card-separator k-separator-vertical">
            <div class="k-card-actions k-card-actions-center k-card-actions-vertical">
                <button class="k-button k-button-flat-base k-button-flat k-button-md k-rounded-md">Accion 1</button>
                <button class="k-button k-button-flat-primary k-button-flat k-button-md k-rounded-md">Accion 2</button>
            </div>
        </div>
    </div>
</div>

<div id="example">
    Layout
    <div class="k-card-deck-scrollwrap">
        <button class="k-button k-button-solid-base k-button-solid k-button-md k-rounded-md k-flat k-icon-button k-button-scroll">
            <span class="k-button-icon k-icon k-i-arrow-chevron-left"></span>
        </button>
        <div class="k-card-deck">
            <div class="k-card k-card-type-rich">
                <img src="~/img/quote_full.jpeg" class="k-card-image" />
                <div class="k-card-body">
                    <h5 class="k-card-title">Full Cobertura</h5>
                    <h6 class="k-card-subtitle">5% del costo del carro</h6>
                </div>
                <div class="k-card-actions k-card-actions-stretched k-card-actions-vertical">
                    <span class="k-card-action">
                        <span class="k-button k-button-flat-primary k-button-flat k-button-md k-rounded-md" data-value="View details of Full Coverage">Ver detalles</span>
                    </span>
                    <span class="k-card-action">
                        <span class="k-button k-button-flat-primary k-button-flat k-button-md k-rounded-md" data-value="Get a quote for Full Coverage">Obtener una cita</span>
                    </span>
                </div>
            </div>

            <div class="k-card k-card-type-rich">
                <img src="~/img/quote_collision.jpeg" class="k-card-image"/>
                <div class="k-card-body">
                    <h5 class="k-card-title">Colisión, fuego y robo</h5>
                    <h6 class="k-card-subtitle">4% del costo del carro</h6>
                </div>
                <div class="k-card-actions k-card-actions-stretched k-card-actions-vertical">
                    <span class="k-card-action">
                        <span class="k-button k-button-flat-primary k-button-flat k-button-md k-rounded-md" data-value="View details of Collision, fire and theft">Ver detalles</span>
                    </span>
                    <span class="k-card-action">
                        <span class="k-button k-button-flat-primary k-button-flat k-button-md k-rounded-md" data-value="Get a quote for Collision, fire and theft">Obtener una cita</span>
                    </span>
                </div>
            </div>

            <div class="k-card k-card-type-rich">
                <img src="~/img/quote_collision_only.jpeg" class="k-card-image"/>
                <div class="k-card-body">
                    <h5 class="k-card-title">Solo colisión</h5>
                    <h6 class="k-card-subtitle">2% del costo del carro</h6>
                </div>
                <div class="k-card-actions k-card-actions-stretched k-card-actions-vertical">
                    <span class="k-card-action">
                        <span class="k-button k-button-flat-primary k-button-flat k-button-md k-rounded-md" data-value="View details of Collision only">Ver detalles</span>
                    </span>
                    <span class="k-card-action">
                        <span class="k-button k-button-flat-primary k-button-flat k-button-md k-rounded-md" data-value="Get a quote for Collision only">Obtener una cita</span>
                    </span>
                </div>
            </div>

            <div class="k-card k-card-type-rich">
               <img src="~/img/quote_young.jpeg" class="k-card-image"/>
                <div class="k-card-body">
                    <h5 class="k-card-title">Conductor Joven</h5>
                    <h6 class="k-card-subtitle">6% del costo del carro</h6>
                </div>
                <div class="k-card-actions k-card-actions-stretched k-card-actions-vertical">
                    <span class="k-card-action">
                        <span class="k-button k-button-flat-primary k-button-flat k-button-md k-rounded-md" data-value="View details of Young driver">Ver detalles</span>
                    </span>
                    <span class="k-card-action">
                        <span class="k-button k-button-flat-primary k-button-flat k-button-md k-rounded-md" data-value="Get a quote for Young driver">Obtener una cita</span>
                    </span>
                </div>
            </div>

            
            <div class="k-card k-card-type-rich">
                <img src="~/img/quote_full.jpeg" class="k-card-image" />
                <div class="k-card-body">
                    <h5 class="k-card-title">Full Cobertura</h5>
                    <h6 class="k-card-subtitle">5% del costo del carro</h6>
                </div>
                <div class="k-card-actions k-card-actions-stretched k-card-actions-vertical">
                    <span class="k-card-action">
                        <span class="k-button k-button-flat-primary k-button-flat k-button-md k-rounded-md" data-value="View details of Full Coverage">Ver detalles</span>
                    </span>
                    <span class="k-card-action">
                        <span class="k-button k-button-flat-primary k-button-flat k-button-md k-rounded-md" data-value="Get a quote for Full Coverage">Obtener una cita</span>
                    </span>
                </div>
            </div>

            <div class="k-card k-card-type-rich">
                <img src="~/img/quote_collision.jpeg" class="k-card-image" />
                <div class="k-card-body">
                    <h5 class="k-card-title">Colisión, fuego y robo</h5>
                    <h6 class="k-card-subtitle">4% del costo del carro</h6>
                </div>
                <div class="k-card-actions k-card-actions-stretched k-card-actions-vertical">
                    <span class="k-card-action">
                        <span class="k-button k-button-flat-primary k-button-flat k-button-md k-rounded-md" data-value="View details of Collision, fire and theft">Ver detalles</span>
                    </span>
                    <span class="k-card-action">
                        <span class="k-button k-button-flat-primary k-button-flat k-button-md k-rounded-md" data-value="Get a quote for Collision, fire and theft">Obtener una cita</span>
                    </span>
                </div>
            </div>

            <div class="k-card k-card-type-rich">
                <img src="~/img/quote_collision_only.jpeg" class="k-card-image" />
                <div class="k-card-body">
                    <h5 class="k-card-title">Solo colisión</h5>
                    <h6 class="k-card-subtitle">2% del costo del carro</h6>
                </div>
                <div class="k-card-actions k-card-actions-stretched k-card-actions-vertical">
                    <span class="k-card-action">
                        <span class="k-button k-button-flat-primary k-button-flat k-button-md k-rounded-md" data-value="View details of Collision only">Ver detalles</span>
                    </span>
                    <span class="k-card-action">
                        <span class="k-button k-button-flat-primary k-button-flat k-button-md k-rounded-md" data-value="Get a quote for Collision only">Obtener una cita</span>
                    </span>
                </div>
            </div>
        </div>
        <button class="k-button k-button-solid-base k-button-solid k-button-md k-rounded-md k-flat k-icon-button k-button-scroll">
            <span class="k-icon k-i-arrow-chevron-right"></span>
        </button>
    </div>
</div>
<style>
    #example {
        display: flex;
        justify-content: center;
    }

    .k-card-deck-scrollwrap {
        max-width: 728px;
    }

    .k-card-deck {
        box-sizing: border-box;
        margin-left: -16px;
        margin-right: -16px;
        padding: 16px 16px 16px;
        overflow-y: hidden;
        overflow-x: auto;
    }

    .k-card-action > .k-button {
        width: 100%;
    }
</style>

<div class="cards-container">
    Media
    <div class="k-card k-card-vertical">
        <div class="k-card-header k-hbox k-align-items-center">
            <div class="k-avatar k-avatar-circle k-avatar-image">
                <div style="background-image: url('../content/web/cards/ninja.png');"></div>
            </div>
            <h5 class="k-card-title">DevReach</h5>
        </div>
        <iframe height="267" src="https://www.youtube-nocookie.com/embed/00EMMRFocNs" class="k-card-media"></iframe>
        <div class="k-card-body">
            <p><strong>DevReach 2019 Day 2 Morning Keynote:</strong> Technical Leadership: Lessons Learned at NASA with Jody Davis</p>
        </div>
        <span class="k-card-separator"></span>
        <div class="k-card-actions">
            <span class="k-button k-button-flat-base k-button-flat k-button-md k-rounded-md k-icon-button"><span class="k-button-icon k-icon k-i-heart-outline"></span></span>
            <span class="k-button k-button-flat-base k-button-flat k-button-md k-rounded-md k-icon-button"><span class="k-button-icon k-icon k-i-comment"></span></span>
            <span class="k-button k-button-flat-base k-button-flat k-button-md k-rounded-md k-icon-button"><span class="k-button-icon k-icon k-i-share"></span></span>
        </div>
    </div>

    <div class="k-card k-card-vertical">
        <div class="k-card-header k-hbox k-align-items-center">
            <div class="k-avatar k-avatar-circle k-avatar-initials">
                <span>AV</span>
            </div>
            <div>
                <h4 class="k-card-title">
                    Apartamentos Vista al mar
                </h4>
                <h5 class="k-card-subtitle">Grecia, Santorini</h5>
            </div>
        </div>
        <img src="~/img/seaview-appartments.png" class="k-card-image" />
        <div class="k-card-body">
            <p>Un lujoso apartamento de dos piesas con las mejores vistas de Santorini</p>
        </div>
        <span class="k-card-separator"></span>
        <div class="k-card-actions">
            <span class="k-button k-button-flat-base k-button-flat k-button-md k-rounded-md k-icon-button"><span class="k-button-icon k-icon k-i-heart-outline"></span></span>
            <span class="k-button k-button-flat-base k-button-flat k-button-md k-rounded-md k-icon-button"><span class="k-button-icon k-icon k-i-comment"></span></span>
            <span class="k-button k-button-flat-base k-button-flat k-button-md k-rounded-md k-icon-button"><span class="k-button-icon k-icon k-i-share"></span></span>
        </div>
    </div>
</div>


<script src="~/js/cards.js"></script>
