<div>
    <div id="dialog1"></div>
    <span id="undo1" style="display:none" class="k-button k-button-solid-base k-button-solid k-button-md k-rounded-md hide-on-narrow">Click aca para abrir el diálogo</span>
</div>

<div>
    Predefined Dialog
    <button id="alertBtn" class="k-button k-button-solid-base k-button-solid k-button-md k-rounded-md">kendo.alert</button>
    <button id="confirmBtn" class="k-button k-button-solid-base k-button-solid k-button-md k-rounded-md">kendo.confirm</button>
    <button id="promptBtn" class="k-button k-button-solid-base k-button-solid k-button-md k-rounded-md">kendo.prompt</button>
</div>

<div>
    Events
    <span id="show3" style="display:none" class="k-button k-button-solid-base k-button-solid k-button-md k-rounded-md hidden-on-narrow">Click aca para abrir el diálogo</span>
    <div id="dialog3"></div>
    <div class="responsive-message"></div>
</div>

<div>
    Treelist
   <div id="dialog"></div>
    <div id="add-product" class="demo-section">
        <p class="title">Miembros</p>
        <div id="result"></div>
        <button id="pickEmployeesButton">Seleccionar miembros</button>
    </div>
</div>
<script src="~/js/dialog.js"></script>