<div class="demo-section">
    <div id="brazil">
        La palabra "Brasil" probablemente proviene de la palabra portuguesa para palo de Brasil, un árbol que alguna vez creció abundantemente a lo largo de la costa brasileña. En portugués, el palo de Brasil se llama pau-brasil, con la palabra brasil comúnmente dada por la etimología "rojo como una brasa", formada por brasa ("brasa") y el sufijo -il (de -iculum o -ilium). Como el palo de Brasil produce un tinte rojo intenso, fue muy valorado por la industria textil europea y fue el primer producto comercialmente explotado de Brasil. A lo largo del siglo XVI, los pueblos indígenas (principalmente tupi) extrajeron grandes cantidades de palo de Brasil a lo largo de la costa brasileña, y vendieron la madera a comerciantes europeos (principalmente portugueses, pero también franceses) a cambio de una variedad de bienes de consumo europeos.
    </div>
    <div id="chile">
        Existen diversas teorías sobre el origen de la palabra Chile. Según el cronista español del siglo XVII Diego de Rosales, los incas llamaron al valle
        del Aconcagua Chili por la corrupción del nombre de un jefe tribal picunche (cacique) llamado Tili, quien gobernó el área en la época de la conquista Inca en el siglo XV. Otra teoría apunta a la similitud del valle del Aconcagua con el del Valle de Casma en Perú, donde había un pueblo y un valle llamado Chili.
    </div>
    <div id="colombia">
        El nombre "Colombia" se deriva del apellido del navegante italiano Cristóbal Colón. Fue concebida por el revolucionario venezolano Francisco de Miranda como una referencia a todo el Nuevo Mundo, pero especialmente a aquellas partes bajo derecho español. Posteriormente, el nombre fue adoptado por la República de Colombia de 1819, formada a partir de los territorios del antiguo Virreinato de la Nueva Granada (actual Colombia, Panamá, Venezuela, Ecuador y el noroeste de Brasil).
    </div>
    <div id="ecuador">

        El origen del nombre de Ecuador es de España. Cuando los españoles colonizaron la tierra, la llamaron "el ecuador", que traducido significa "el ecuador".
    </div>
    <div id="guyana">
        El nombre "Guyana" deriva de Guayana, el nombre original de la región que anteriormente incluía a Guayana (Guayana británica), Surinam (Guayana holandesa), Guayana Francesa y partes de Colombia, Venezuela y Brasil. Según el Oxford English Dictionary, "Guyana" proviene de una lengua indígena amerindia y significa "tierra de muchas aguas".
    </div>
</div>

<div>
    Events
     <div class="demo-section">
       <div id="brazil2">
            La palabra "Brasil" probablemente proviene de la palabra portuguesa para palo de Brasil, un árbol que alguna vez creció abundantemente a lo largo de la costa brasileña. En portugués, el palo de Brasil se llama pau-brasil, con la palabra brasil comúnmente dada por la etimología "rojo como una brasa", formada por brasa ("brasa") y el sufijo -il (de -iculum o -ilium). Como el palo de Brasil produce un tinte rojo intenso, fue muy valorado por la industria textil europea y fue el primer producto comercialmente explotado de Brasil. A lo largo del siglo XVI, los pueblos indígenas (principalmente tupi) extrajeron grandes cantidades de palo de Brasil a lo largo de la costa brasileña, y vendieron la madera a comerciantes europeos (principalmente portugueses, pero también franceses) a cambio de una variedad de bienes de consumo europeos.
        </div>
    </div> 
</div>
<script src="~/js/expansionpanel.js"></script>