<div class="demo-section">
    <div id="validation-success"></div>
    <form id="exampleform"></form>
</div>

<div class="demo-section">
    Basic Usage
    <div id="validation-success2"></div>
    <form id="exampleform2"></form>
</div>

<div class="demo-section">
    Items
    <div id="validation-success3"></div>
    <form id="exampleform3"></form>
</div>

<div class="demo-section">
    <h4>Grid Layout</h4>
    <div id="validation-success4"></div>
    <form id="exampleform4"></form>
</div>

<div class="demo-section">
    <h4>Groups</h4>
    <div id="validation-success5"></div>
    <form id="exampleform5"></form>
</div>

<script src="~/js/form.js"></script>