<div id="example">
    <div class="demo-section">
        <p>Resize the page to see the ResponsivePanel in action. It collapses the demos' sidebar on device or browser of width less than 1200px.</p>
        <p style="margin: 1em auto;">Read more about ResponsivePanel in Kendo UI Docs:</p>
        <a href="https://docs.telerik.com/kendo-ui/api/javascript/ui/responsivepanel" role="button" class="k-button k-button-solid-primary k-button-solid k-button-md k-rounded-md" title="Kendo UI ResponsivePanel widget">ResponsivePanel API</a>
    </div>
</div>