<div id="vertical">
    <div id="top-pane">
        <div id="horizontal" style="height: 100%; width: 100%;">
            <div id="left-pane">
                <div class="pane-content">
                    <h3>Inner splitter / left pane</h3>
                    <p>Resizable and collapsible.</p>
                </div>
            </div>
            <div id="center-pane">
                <div class="pane-content">
                    <h3>Inner splitter / center pane</h3>
                    <p>Resizable only.</p>
                </div>
            </div>
            <div id="right-pane">
                <div class="pane-content">
                    <h3>Inner splitter / right pane</h3>
                    <p>Resizable and collapsible.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="middle-pane">
        <div class="pane-content">
            <h3>Outer splitter / middle pane</h3>
            <p>Resizable only.</p>
        </div>
    </div>
    <div id="bottom-pane">
        <div class="pane-content">
            <h3>Outer splitter / bottom pane</h3>
            <p>Non-resizable and non-collapsible.</p>
        </div>
    </div>
</div>

Events
<div id="splitter2" style="height: 400px">
    <div id="top_pane">
        <p>
            Top pane
        </p>
    </div>
    <div id="ajax_pane"></div>
    <div id="bottom_pane">
        <p>
            Bottom pane
        </p>
    </div>
</div>
<script src="~/js/splitter.js"></script>