<div id="tilelayout"></div>

<!-- container text templates -->
<script id="conversion-rate" type="text/x-kendo-template">
    <h3>9%</h3>
    <div>Visitor to Customer</div>
</script>
<script id="current" type="text/x-kendo-template">
    <h3>2, 399</h3>
    <div>Active users right now</div>
</script>
<script id="bounce-rate" type="text/x-kendo-template">
    <h1>55 %</h1>
    <div>The percentage of all sessions on your site in which users viewed only a single page.</div>
</script>

<!-- container chart templates -->
<script id="pages-chart-template" type="text/x-kendo-template">
    <div id="pages-chart" style="height:100%; width:100%"></div>
</script>
<script id="views-chart-template" type="text/x-kendo-template">
    <div id="views-chart" style="height:100%; width:100%"></div>
</script>
<script id="visitors-chart-template" type="text/x-kendo-template">
    <div id="visitors-chart" style="height:100%; width:100%"></div>
</script>
<script id="conversion-chart-template" type="text/x-kendo-template">
    <div id="conversion-chart" style="height:100%; width:100%"></div>
</script>

<!-- container grid templates -->
<script id="conversions-grid-template" type="text/x-kendo-template">
    <div id="conversions-grid" style="height:100%;"></div>
</script>
<script id="users-grid-template" type="text/x-kendo-template">
    <div id="users-grid" style="height:100%;"></div>
</script>



REORDERING
<div id="tilelayout2"></div>

<!-- container templates -->
<script id="barcelona" type="text/x-kendo-template">
    <img src="~/img/barcelona.jpg" class="k-card-image" draggable="false" />
</script>
<script id="sofia" type="text/x-kendo-template">
    <img src="~/img/sofia.jpg" class="k-card-image" draggable="false" />
</script>
<script id="rome" type="text/x-kendo-template">
    <img src="~/img/rome.jpg" class="k-card-image" draggable="false" />
</script>
<script id="sa" type="text/x-kendo-template">
    <img src="~/img/south-africa.jpg" class="k-card-image" draggable="false" />
</script>
<script id="sanfran" type="text/x-kendo-template">
    <img src="~/img/sanfran.jpg" class="k-card-image" draggable="false" />
</script>
<script id="seaview" type="text/x-kendo-template">
    <img src="~/img/seaview-appartments.png" class="k-card-image" draggable="false" />
</script>

Resizing
<div id="tilelayout3"></div>

<script id="treelist-template2" type="text/x-kendo-template">
    <div id="treelist2" style="height:100%;"></div>
</script>
<script id="chart-template2" type="text/x-kendo-template">
    <div id="chart2" style="height:100%; width:100%"></div>
</script>
<script id="gauge-template2" type="text/x-kendo-template">
    <div id="gauge2" style="height:100%; width:100%"></div>
</script>

Events
<div class="demo-section auto">
    <p>Resize or reorder the containers to see the events that the tileLayout widget exposes.</p>
    <br />
    <br />
    <br />
    <script id="shells" type="text/x-kendo-template">
        <div style="display: flex; height: 100%;">
            <img alt="Kendo UI for jQuery TileLayout Sea Shells" src="../content/web/cards/shells.jpg" style="margin-right: 1em;">
            <div class="left">
                <p>
                    <em> Leaving seashells where they are is actually one of the easiest ways to protect marine life and make a small contribution to saving our oceans.</em>
                </p>
                <p>
                    Seemingly innocent shell collecting may have a huge impact on the environment. Depending on the shell you take, you could be robbing an animal of a home, building material, food or even disturbing an entire ocean ecosystem.
                </p>
            </div>
        </div>
    </script>
    <script id="tulips" type="text/x-kendo-template">
        <img alt="Kendo UI for jQuery TileLayout Tulips" class="k-card-image" draggable="false" src="../content/web/cards/tulips.jpg" )" />
        <div class="k-vbox k-column">
            <div class="k-card-body">
                <p>In the 17th century tulips were extremely popular in Europe. Holland was gripped in a craze for tulips that lead many to even sell off their fortunes.</p>
            </div>
        </div>
    </script>
    <script id="park" type="text/x-kendo-template">
        <img alt="Kendo UI for jQuery TileLayout Cherry Blossoms" class="k-card-image" draggable="false" src="../content/web/sortable/5.jpg" )" />
        <div class="k-vbox k-column">
            <div class="k-card-body">
                <p>Sakura is the Japanese term for ornamental cherry blossom trees and their blossoms. Sakura is special in Japan and there are even "Sakura forecasts".</p>
            </div>
        </div>
    </script>
    <div id="tilelayout4"></div>
</div>
<script src="~/js/tilelayout.js"></script>