
@{
    ViewData["Title"] = "Index";
}

<h1>Tipo Usuario</h1>

<button id="btnBotonNuevo" class="btn btn-primary mt-2 mb-2" onclick="NuevoTipoUsuario()" >Nuevo</button>
<div id="divTabla">

</div>


<script src="~/js/sweetalert.js"></script>
<script src="~/js/generic.js"></script>
<script src="~/js/tipousuario.js"></script>