<head>
    <base href="https://demos.telerik.com/kendo-ui/checkbox/index">
    <style>html { font-size: 14px; font-family: Arial, Helvetica, sans-serif; }</style>
    <title></title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.3.1109/styles/kendo.default-ocean-blue.min.css" />
    <script src="https://kendo.cdn.telerik.com/2022.3.1109/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2022.3.1109/js/kendo.all.min.js"></script>
</head>
<body>
    <div id="example">
        <div class="demo-section">
            <h4>Choose Extra Equipment</h4>
            <ul class="fieldlist">
                <li>
                    <input type="checkbox" id="eq1" />
                </li>
                <li>
                    <input type="checkbox" id="eq2" />
                </li>
                <li>
                    <input type="checkbox" id="eq3" />
                </li>
                <li>
                    <input type="checkbox" id="eq4" />
                </li>
                <li>
                    <input type="checkbox" id="eq5" />
                </li>
                <li>
                    <input type="checkbox" id="eq6" />
                </li>
                <li>
                    <input type="checkbox" id="eq7" />
                </li>
            </ul>
        </div>
        <script>
            $('#eq1').kendoCheckBox({
                checked: true,
                label: "Rear side airbags"
            });

            $('#eq2').kendoCheckBox({
                checked: true,
                label: "Leather trim",
                enabled: false
            });

            $('#eq3').kendoCheckBox({
                label: "Luggage compartment cover"
            });

            $('#eq4').kendoCheckBox({
                label: "Heated front and rear seats"
            });

            $('#eq5').kendoCheckBox({
                label: "Dual-zone air conditioning"
            });

            $('#eq6').kendoCheckBox({
                label: "Rain sensor"
            });

            $('#eq7').kendoCheckBox({
                label: "Towbar preparation",
                enabled: false
            });
        </script>
        <style>
            .fieldlist {
                margin: 0 0 -1em;
                padding: 0;
            }

                .fieldlist li {
                    list-style: none;
                    padding-bottom: 1em;
                }
        </style>
    </div>

    <div id="example">
        <div class="configurator">
            <div class="header">Configurator</div>
            <div class="box-col">
                <ul class="options">
                    <li>
                        <h4>Size</h4>
                        <input id="size" name="size" />
                    </li>
                </ul>
            </div>
            <div class="box-col">
                <ul class="options">
                    <li>
                        <h4>Border Radius</h4>
                        <input id="rounded" name="rounded" />
                    </li>
                </ul>
            </div>
        </div>


        <div class="demo-section">
            <input id="checkbox2" />
            <label for="checkbox">CheckBox Appearance</label>
        </div>

        <script>
            $(document).ready(function () {

                var checkBox = $("#checkbox2").kendoCheckBox().data('kendoCheckBox');

                var size = $("#size").kendoDropDownList({
                    dataTextField: "text",
                    dataValueField: "value",
                    value: "medium",
                    change: onChange,
                    dataSource: [
                        { text: "Small", value: "small" },
                        { text: "Medium", value: "medium" },
                        { text: "Large", value: "large" }
                    ]
                }).data("kendoDropDownList");

                var rounded = $("#rounded").kendoDropDownList({
                    dataTextField: "text",
                    dataValueField: "value",
                    change: onChange,
                    value: "medium",
                    dataSource: [
                        { text: "Small", value: "small" },
                        { text: "Medium", value: "medium" },
                        { text: "Large", value: "large" },
                        { text: "Full", value: "full" }
                    ]
                }).data("kendoDropDownList");

                function onChange(e) {

                    var sizeValue = size.value();
                    var roundedValue = rounded.value();

                    checkBox.setOptions({
                        size: sizeValue,
                        rounded: roundedValue
                    })
                }
            });
        </script>

        <style>
            .k-picker.k-dropdownlist {
                width: 140px;
            }
        </style>
    </div>
</body>

