<head>
    <base href="https://demos.telerik.com/kendo-ui/datepicker/index">
    <style>
        html {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }</style>
    <title></title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.3.1109/styles/kendo.default-ocean-blue.min.css" />
    <script src="https://kendo.cdn.telerik.com/2022.3.1109/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2022.3.1109/js/kendo.all.min.js"></script>
    <link rel="stylesheet" href="../content/shared/styles/examples-offline.css">
    <script src="../content/shared/js/console.js"></script>
</head>
<body>
    <div class="k-d-flex k-justify-content-center" style="padding-top: 54px;">
        <div class="k-w-300">
            <label for="datepicker">Show e-mails from:</label>
            <input id="datepicker" value="10/10/2011" title="datepicker" />
            <br>
            <br>
            <br>
            <label for="dateinput">Add to archive mail from:</label>
            <input id="monthpicker" value="November 2011" title="monthpicker" />
        </div>
    </div>
    <script>
        $(document).ready(function () {
            // create DatePicker from input HTML element
            $("#datepicker").kendoDatePicker();

            $("#monthpicker").kendoDatePicker({
                // defines the start view
                start: "year",

                // defines when the calendar should return date
                depth: "year",

                // display month and year in the input
                format: "MMMM yyyy",

                // specifies that DateInput is used for masking the input element
                dateInput: true
            });
        });
    </script>

    <div class="k-d-flex k-justify-content-center" style="padding-top: 54px;">
        <div class="k-w-300">
            <label for="dateinput">Select Date:</label>
            <input id="datepicker2" value="10/10/2011" title="datepicker" />
            <br>
            <br>
            <br>
            <label for="dropDownList">Set component  type</label>
            <input id="dropDownList2" />
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#datepicker2").kendoDatePicker({
                componentType: "modern"
            });

            $("#dropDownList2").kendoDropDownList({
                dataSource: ["modern", "classic"],
                value: "modern",
                change: function (e) {
                    var picker = $("#datepicker2").data("kendoDatePicker");
                    var type = this.value();
                    var parent = $("#datepicker2").parent()

                    picker.destroy();
                    parent.empty();
                    parent.append('<input id="datepicker" value="10/10/2011" title="datepicker" style="width: 100%" />');
                    $("#datepicker2").kendoDatePicker({
                        componentType: type
                    });
                }
            });
        });
    </script>

    <div class="box wide">
        <h4>Information</h4>
        <p>Range selecion is available as built-in functionality for the <strong>DateRangePicker</strong> component.</p>
        <br />
        <p>Check out the <a href="../daterangepicker/index">DateRangePicker examples</a>.</p>
    </div>

    <div class="k-d-flex k-justify-content-center" style="padding-top: 54px;">
        <div class="k-w-300">
            <label for="dateinput">Start date:</label>
            <input id="start" style="width: 100%;" value="10/10/2011" />
            <br>
            <br>
            <br>
            <label for="end">End date:</label>
            <input id="end" style="width: 100%;" value="10/10/2011" />
        </div>
    </div>
    <script>
        $(document).ready(function () {
            function startChange() {
                var startDate = start.value(),
                    endDate = end.value();

                if (startDate) {
                    startDate = new Date(startDate);
                    startDate.setDate(startDate.getDate());
                    end.min(startDate);
                } else if (endDate) {
                    start.max(new Date(endDate));
                } else {
                    endDate = new Date();
                    start.max(endDate);
                    end.min(endDate);
                }
            }

            function endChange() {
                var endDate = end.value(),
                    startDate = start.value();

                if (endDate) {
                    endDate = new Date(endDate);
                    endDate.setDate(endDate.getDate());
                    start.max(endDate);
                } else if (startDate) {
                    end.min(new Date(startDate));
                } else {
                    endDate = new Date();
                    start.max(endDate);
                    end.min(endDate);
                }
            }

            var start = $("#start").kendoDatePicker({
                change: startChange
            }).data("kendoDatePicker");

            var end = $("#end").kendoDatePicker({
                change: endChange
            }).data("kendoDatePicker");

            start.max(end.value());
            end.min(start.value());
        });
    </script>

    <div class="k-d-flex k-justify-content-center" style="padding-top: 54px;">
        <div class="k-w-300">
            <label for="datepicker">Birthday Calendar</label>
            <input id="datepicker4" />
        </div>
    </div>

    <script>
        function isInArray(date, dates) {
            for (var idx = 0, length = dates.length; idx < length; idx++) {
                var d = dates[idx];
                if (date.getFullYear() == d.getFullYear() &&
                    date.getMonth() == d.getMonth() &&
                    date.getDate() == d.getDate()) {
                    return true;
                }
            }

            return false;
        }

        $(document).ready(function () {
            var today = new Date(),
                birthdays = [
                    new Date(today.getFullYear(), today.getMonth(), 11),
                    new Date(today.getFullYear(), today.getMonth() + 1, 6),
                    new Date(today.getFullYear(), today.getMonth() + 1, 27),
                    new Date(today.getFullYear(), today.getMonth() - 1, 3),
                    new Date(today.getFullYear(), today.getMonth() - 2, 22)
                ];

            $("#datepicker4").kendoDatePicker({
                value: today,
                dates: birthdays,
                weekNumber: true,
                month: {
                    // template for dates in month view
                    content: '# if (isInArray(data.date, data.dates)) { #' +
                        '<div class="birthday"></div>' +
                        '# } #' +
                        '#= data.value #',
                    weekNumber: '<a class="italic">#= data.weekNumber #</a>'
                },
                footer: "Today - #=kendo.toString(data, 'd') #",
            });
        });
    </script>

    <style>
        .k-calendar .demo-section {
            table-layout: auto;
        }

        .k-calendar .k-month .k-link {
            width: auto;
            display: flex;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        .birthday {
            background: transparent url(../content/web/calendar/cake.png) no-repeat 0 50%;
            display: inline-block;
            flex-shrink: 0;
            width: 16px;
            height: 16px;
            vertical-align: middle;
            margin-right: 3px;
        }

        .italic {
            font-style: italic;
        }
    </style>

    <div class="configurator">
        <div class="header">Configurator</div>
        <div class="box-col">
            <h4>SIZE</h4>
            <ul class="options">
                <li>
                    <input id="size" />
                </li>
            </ul>
        </div>
        <div class="box-col">
            <h4>BORDER RADIUS</h4>
            <ul class="options">
                <li>
                    <input id="rounded" />
                </li>
            </ul>
        </div>
        <div class="box-col">
            <h4>FILL MODE</h4>
            <ul class="options">
                <li>
                    <input id="fillMode" />
                </li>
            </ul>
        </div>
    </div>

    <div class="k-d-flex k-justify-content-center" style="padding-top: 54px;">
        <div class="k-w-300">
            <label for="datepicker">Birthday Calendar</label>
            <input id="datepicker5" value="10/10/2011" title="datepicker" />
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var datepicker = $("#datepicker5").kendoDatePicker().data("kendoDatePicker");

            $("#size").kendoDropDownList({
                dataSource: ["small", "medium", "large", "none"],
                value: "medium",
                change: function () {
                    let value = this.value();
                    datepicker.setOptions({ size: value });
                }
            });

            $("#rounded").kendoDropDownList({
                dataSource: ["small", "medium", "large", "full", "none"],
                value: "medium",
                change: function () {
                    let value = this.value();
                    datepicker.setOptions({ rounded: value });
                }
            });

            $("#fillMode").kendoDropDownList({
                dataSource: ["solid", "flat", "outline", "none"],
                value: "solid",
                change: function () {
                    let value = this.value();
                    datepicker.setOptions({ fillMode: value });
                }
            });
        });
    </script>

    <style>
        .k-picker.k-dropdownlist {
            width: 140px;
        }
    </style>

    <div class="k-d-flex k-justify-content-center" style="padding-top:100px;">
	    <div class="k-w-300"> 
		    <input id="datepicker6"  title="datepicker"/>
	    </div>
    </div>
    <script>
        $(document).ready(function() {
            // create DatePicker from input HTML element
            $("#datepicker6").kendoDatePicker({
                label: { 
                    content: "Show e-mails from...",
                    floating: true
                }
            });               
        });
    </script>

    <div class="k-d-flex k-justify-content-center" style="padding-top: 54px;">
		<div class="k-w-300">
			<label for="datepicker">Select date</label>
			<input id="datepicker7"/>
		</div>
	</div>

    <script>
        $(document).ready(function () {
            function onOpen() {
                kendoConsole.log("Open");
            }

            function onClose() {
                kendoConsole.log("Close");
            }

            function onChange() {
                kendoConsole.log("Change :: " + kendo.toString(this.value(), 'd'));
            }

            $("#datepicker7").kendoDatePicker({
                change: onChange,
                close: onClose,
                open: onOpen
            });
        });
    </script>

    <div class="kd-example-console">
        <div class="header">
             <span class="title">CONSOLE LOG</span>
             <span class="clear kd-text-secondary">Clear log</span>
        </div>
        <div class="console"></div>
    </div>

    <div class="k-d-flex k-justify-content-center" style="padding-top: 54px;">
        <div class="k-w-300">
            <label for="weekend-date-picker">Disable weekends</label>
            <input id="weekend-date-picker">
            <br>
            <br>
            <br>
            <label for="holidays-date-picker">Disable Federal Holidays in USA in 2015</label>
            <input id="holidays-date-picker">
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#weekend-date-picker").kendoDatePicker({
                value: new Date("11/13/2015"),
                disableDates: ["sa", "su"]
            });

            $("#holidays-date-picker").kendoDatePicker({
                value: new Date(),
                dates: [
                    new Date("1/1/2015"),
                    new Date("1/19/2015"),
                    new Date("2/16/2015"),
                    new Date("4/16/2015"),
                    new Date("5/10/2015"),
                    new Date("5/25/2015"),
                    new Date("6/21/2015"),
                    new Date("7/3/2015"),
                    new Date("9/7/2015"),
                    new Date("10/12/2015"),
                    new Date("11/11/2015"),
                    new Date("11/26/2015"),
                    new Date("11/27/2015"),
                    new Date("12/25/2015")
                ],
                disableDates: function (date) {
                    var dates = $("#holidays-date-picker").data("kendoDatePicker").options.dates;
                    if (date && compareDates(date, dates)) {
                        return true;
                    } else {
                        return false;
                    }
                }
            });

            function compareDates(date, dates) {
                for (var i = 0; i < dates.length; i++) {
                    if (dates[i].getDate() == date.getDate() &&
                        dates[i].getMonth() == date.getMonth() &&
                        dates[i].getYear() == date.getYear()) {
                        return true
                    }
                }
            }
        });
    </script>

        <div class="k-d-flex k-justify-content-center" style="padding-top: 54px;">
			<div class="k-w-300">
				<label for="dateinput9">Show e-mails from:</label>
                <input id="datepicker" value="10/10/2011" style="width: 100%" />
            </div>
		</div>

        <script>
            $(document).ready(function() {
                // create DatePicker from input HTML element
                $("#datepicker9").kendoDatePicker({
                    weekNumber: true,
                });
            });
        </script>

    <div class="configurator">
        <div class="header">Configurator</div>
        <div class="box-col">
            <h4>Set / Get Value</h4>
            <ul class="options">
                <li>
                    <input id="value" value="10/10/2000" style="float:none; width:150px" />
                    <button id="set">Set value</button>
                </li>
                <li style="text-align: right;">
                    <button id="get">Get value</button>
                </li>
            </ul>
        </div>
        <div class="box-col">
            <h4>Open / Close</h4>
            <ul class="options">
                <li>
                    <button id="open">Open</button>
                    <button id="close">Close</button>
                </li>
            </ul>
        </div>
        <div class="box-col">
            <h4>Enable / Disable</h4>
            <ul class="options">
                <li>
                    <button id="enable">Enable</button>
                    <button id="disable">Disable</button>
                    <button id="readonly">Readonly</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="k-d-flex k-justify-content-center" style="padding-top: 54px;">
        <div class="k-w-300">
            <label for="dateinput">Select date</label>
            <input id="datepicker10" />
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#datepicker10").kendoDatePicker()
                .closest(".k-widget")
                .attr("id", "datepicker_wrapper");

            var datepicker = $("#datepicker10").data("kendoDatePicker");

            var setValue = function () {
                datepicker.value($("#value").val());
            };

            $("#enable").click(function () {
                datepicker.enable();
            });

            $("#disable").click(function () {
                datepicker.enable(false);
            });

            $("#readonly").click(function () {
                datepicker.readonly();
            });

            $("#open").click(function () {
                datepicker.open();
            });

            $("#close").click(function () {
                datepicker.close();
            });

            $("#value").kendoDatePicker();

            $("#set").click(setValue);

            $("#get").click(function () {
                alert(datepicker.value());
            });
        });
    </script>

    <div class="k-d-flex k-justify-content-center" style="padding-top: 54px;">
		<div class="k-w-300 k-rtl">
			<label for="datepicker11">Choose date:</label>
	        <input id="datepicker11"/>
	    </div>
	</div>
	
	<script>
	     $(document).ready(function() {
	         $("#datepicker11").kendoDatePicker();
	     });
	</script>

    <div id="demo12">
        <div class="configurator">
            <div class="header">Configurator</div>
            <div class="box-col">
                <h4>Configuration</h4>
                <div>
                    <label><input type="checkbox" data-bind="checked: isEnabled">Enable</label>
                </div>
                <div>
                    <label><input type="checkbox" data-bind="checked: isVisible">Visible</label>
                </div>
            </div>
            <div class="box-col">
                <h4>Information</h4>
                Kendo UI DatePicker supports the
                <a href="https://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/enabled">enabled</a>,
                <a href="https://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/events">events</a>,
                <a href="https://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/value">value</a> and
                <a href="https://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/visible">visible</a> bindings.
            </div>
        </div>

        <div class="k-d-flex k-justify-content-center" style="padding-top: 54px;">
			<div class="k-w-300">
				<label for="datepicker">Choose a date</label>
				<input data-role="datepicker"
                   data-bind="visible: isVisible,
                              enabled: isEnabled,
                              value: selectedDate,
                              events: { change: onChange }">
			</div>
		</div>
        <script>
            var viewModel = kendo.observable({
                selectedDate: null,
                isEnabled: true,
                isVisible: true,
                onChange: function () {
                    kendoConsole.log("event :: change (" + kendo.toString(this.get("selectedDate"), "D") + ")");
                }
            });
            kendo.bind($("#demo12"), viewModel);
        </script>
	</div>


        <div class="kd-example-console">
            <div class="header">
                <span class="title">CONSOLE LOG</span>
                <span class="clear kd-text-secondary">Clear log</span>
            </div>
            <div class="console"></div>
        </div>
</body>
