<head>
    <base href="https://demos.telerik.com/kendo-ui/listbox/index">
    <style>
        html {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }</style>
    <title></title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.3.1109/styles/kendo.default-ocean-blue.min.css" />
    <script src="https://kendo.cdn.telerik.com/2022.3.1109/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2022.3.1109/js/kendo.all.min.js"></script>
    <link rel="stylesheet" href="../content/shared/styles/examples-offline.css">
    <script src="../content/shared/js/console.js"></script>
</head>
<body>
    <div id="example" role="application">
        <div class="demo-section wide">
            <div>
                <label for="optional" id="employees">Employees</label>
                <label for="selected">Developers</label>
                <br />
                <select id="optional">
                    <option>Steven White</option>
                    <option>Nancy King</option>
                    <option>Nancy Davolio</option>
                    <option>Robert Davolio</option>
                    <option>Michael Leverling</option>
                    <option>Andrew Callahan</option>
                    <option>Michael Suyama</option>
                </select>
                <select id="selected"></select>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $("#optional").kendoListBox({
                    connectWith: "selected",
                    toolbar: {
                        tools: ["moveUp", "moveDown", "transferTo", "transferFrom", "transferAllTo", "transferAllFrom", "remove"]
                    }
                });

                $("#selected").kendoListBox();
            });
        </script>
    </div>

    <style>
        .demo-section label {
            margin-bottom: 5px;
            font-weight: bold;
            display: inline-block;
        }

        #employees {
            width: 270px;
        }

        #example .demo-section {
            max-width: none;
            width: 600px;
        }

        #example .k-listbox {
            width: 236px;
            height: 350px;
        }

            #example .k-listbox:first-of-type {
                width: 270px;
                margin-right: 1px;
            }
    </style>

    <div id="example" role="application">
        <div class="demo-section wide">
            <img src="../content/web/listbox/arrow-left2right.png" alt="drag-indicator" class="arrow" />
            <br />
            <select id="discontinued"></select>
            <select id="available"></select>
            <img src="../content/web/listbox/arrow-right2left.png" alt="drag-indicator" class="arrow" />
            <button id="save-changes-btn">Save changes</button>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var crudServiceBaseUrl = "https://demos.telerik.com/kendo-ui/service",
                dataSource = new kendo.data.DataSource({
                    serverFiltering: false,
                    transport: {
                        read: {
                            url: crudServiceBaseUrl + "/Products",
                            dataType: "jsonp"
                        },
                        update: {
                            url: crudServiceBaseUrl + "/Products/Update",
                            dataType: "jsonp"
                        },
                        parameterMap: function (options, operation) {
                            if (operation !== "read" && options.models) {
                                return { models: kendo.stringify(options.models) };
                            }
                        }
                    },
                    requestStart: function () {
                        kendo.ui.progress($(".demo-section"), true);
                    },
                    requestEnd: function () {
                        kendo.ui.progress($(".demo-section"), false);
                    },
                    batch: false,
                    schema: {
                        model: {
                            id: "ProductID",
                            fields: {
                                ProductID: { editable: false, nullable: true },
                                Discontinued: { type: "boolean" },
                            }
                        }
                    }
                });

            dataSource.fetch(function () {
                var data = this.data();
                var discontinued = $("#discontinued").data("kendoListBox");
                var available = $("#available").data("kendoListBox");

                for (var i = 0; i < data.length; i++) {
                    if (data[i].Discontinued) {
                        discontinued.add(data[i]);
                    }
                    else {
                        available.add(data[i]);
                    }
                }
            });

            $("#discontinued").kendoListBox({
                draggable: true,
                connectWith: "available",
                dropSources: ["available"],
                dataTextField: "ProductName",
                dataValueField: "ProductID",
                remove: function (e) {
                    setDiscontinued(e, false);
                },
                add: function (e) {
                    setDiscontinued(e, true);
                }
            });

            $("#available").kendoListBox({
                draggable: true,
                connectWith: "discontinued",
                dropSources: ["discontinued"],
                dataTextField: "ProductName",
                dataValueField: "ProductID"
            });

            $("#save-changes-btn").kendoButton({
                click: function (e) {
                    dataSource.sync();
                }
            });

            function setDiscontinued(e, flag) {
                var removedItems = e.dataItems;
                for (var i = 0; i < removedItems.length; i++) {
                    var item = dataSource.get(removedItems[i].ProductID);
                    item.Discontinued = flag;
                    item.dirty = !item.dirty;
                }
            }
        });
    </script>

    <style>
        #example .k-listbox .k-item {
            cursor: move;
        }

        #example .arrow {
            padding: 8px 0 5px 238px;
        }

        #save-changes-btn {
            float: right;
            margin-top: 20px;
        }

        #example .demo-section {
            max-width: none;
            width: 640px;
        }

        #example .k-listbox {
            width: 275px;
            height: 310px;
        }
    </style>


    <div id="example" role="application">
        <div class="demo-section wide">
            <select id="optional3"></select>
            <select id="selected3"></select>
        </div>
        <script>
            $(document).ready(function () {
                var customerTemplate = '<span class="k-state-default" style="background-image: url(\'../content/web/Customers/#:data.CustomerID#.jpg\')"></span>' +
                    '<span class="k-state-default"><h3>#: data.ContactName #</h3><p>#: data.CompanyName #</p></span>';
                $("#optional3").kendoListBox({
                    dataTextField: "ContactName",
                    dataValueField: "CustomerID",
                    template: customerTemplate,
                    dataSource: {
                        transport: {
                            read: {
                                dataType: "jsonp",
                                url: "https://demos.telerik.com/kendo-ui/service/Customers",
                            }
                        }
                    },
                    draggable: { placeholder: customPlaceholder },
                    dropSources: ["selected"],
                    connectWith: "selected",
                    toolbar: {
                        position: "right",
                        tools: ["moveUp", "moveDown", "transferTo", "transferFrom", "transferAllTo", "transferAllFrom", "remove"]
                    }
                });

                $("#selected3").kendoListBox({
                    dataTextField: "ContactName",
                    dataValueField: "CustomerID",
                    template: customerTemplate,
                    draggable: { placeholder: customPlaceholder },
                    dropSources: ["optional"],
                    connectWith: "optional"
                });

                function customPlaceholder(draggedItem) {
                    return draggedItem
                        .clone()
                        .addClass("custom-placeholder")
                        .removeClass("k-ghost");
                }
            });
        </script>
    </div>


    <div id="example" role="application">
        <div class="demo-section wide">
            <div>
                <select id="optional4"></select>
                <select id="selected4"></select>
            </div>
        </div>
        <script>
            $(document).ready(function () {

                function onAdd(e) {
                    kendoConsole.log("add : " + getWidgetName(e) + " : " + e.dataItems.length + " item(s)");
                }

                function onChange(e) {
                    kendoConsole.log("change : " + getWidgetName(e));
                }

                function onDataBound(e) {
                    if ("kendoConsole" in window) {
                        kendoConsole.log("dataBound : " + getWidgetName(e));
                    }
                }

                function onRemove(e) {
                    kendoConsole.log("remove : " + getWidgetName(e) + " : " + e.dataItems.length + " item(s)");
                };

                function onReorder(e) {
                    kendoConsole.log("reorder : " + getWidgetName(e));
                }

                function onDragStart(e) {
                    kendoConsole.log("dragstart : " + getWidgetName(e));
                }

                function onDrag(e) {
                    kendoConsole.log("drag : " + getWidgetName(e));
                }

                function onDrop(e) {
                    kendoConsole.log("drop : " + getWidgetName(e));
                }

                function onDragEnd(e) {
                    kendoConsole.log("dragend : " + getWidgetName(e));
                }

                function getWidgetName(e) {
                    var listBoxId = e.sender.element.attr("id");
                    var widgetName = listBoxId === "optional" ? "left widget" : "right widget";
                    return widgetName;
                }

                $("#optional4").kendoListBox({
                    connectWith: "selected",
                    draggable: true,
                    dropSources: ["selected"],
                    toolbar: {
                        position: "right",
                        tools: ["moveUp", "moveDown", "transferTo", "transferFrom", "transferAllTo", "transferAllFrom", "remove"]
                    },
                    selectable: "multiple",
                    dataSource: {
                        type: "odata",
                        transport: {
                            read: "https://demos.telerik.com/kendo-ui/service/Northwind.svc/Customers"
                        }
                    },
                    dataTextField: "ContactName",
                    dataValueField: "CustomerID",
                    add: onAdd,
                    change: onChange,
                    dataBound: onDataBound,
                    dragstart: onDragStart,
                    drag: onDrag,
                    drop: onDrop,
                    dragend: onDragEnd,
                    remove: onRemove,
                    reorder: onReorder
                });

                $("#selected4").kendoListBox({
                    connectWith: "optional",
                    draggable: {
                        placeholder: function (element) {
                            return element.clone().css({
                                "opacity": 0.3,
                                "border": "1px dashed #000000"
                            });
                        }
                    },
                    dropSources: ["optional"],
                    selectable: "multiple",
                    dataTextField: "ContactName",
                    dataValueField: "CustomerID",
                    toolbar: {
                        position: "right",
                        tools: ["moveUp", "moveDown", "remove"]
                    },
                    add: onAdd,
                    change: onChange,
                    dataBound: onDataBound,
                    dragstart: onDragStart,
                    drag: onDrag,
                    drop: onDrop,
                    dragend: onDragEnd,
                    remove: onRemove,
                    reorder: onReorder
                });
            });
        </script>
    </div>

    <style>
        #example .demo-section {
            max-width: none;
            width: 665px;
        }

        #example .k-listbox {
            width: 285px;
            height: 350px;
        }

            #example .k-listbox:first-of-type {
                margin-right: 1px;
            }
    </style>


    <div class="kd-example-console">
        <div class="header">
            <span class="title">CONSOLE LOG</span>
            <span class="clear kd-text-secondary">Clear log</span>
        </div>
        <div class="console"></div>
    </div>

    <div id="example" role="application">
        <div class="configurator">
            <div class="header">Configurator</div>
            <div class="box-col">
                <h4>Working with selected items</h4>
                <div class="box-col">
                    <ul class="options">
                        <li>
                            <h4>Transfer item</h4>
                            <button id="transfer-left">To left</button>
                            <button id="transfer-right">To right</button>
                        </li>
                    </ul>
                </div>
                <div class="box-col">
                    <ul class="options">
                        <li>
                            <h4>Move item</h4>
                            <button id="move-up">Move Up</button>
                            <button id="move-down">Move Down</button>
                        </li>
                    </ul>
                </div>
                <div class="box-col">
                    <ul class="options">
                        <li>
                            <h4>Enable/Disable item</h4>
                            <button id="disable">Disable</button>
                            <button id="enable">Enable</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="box-col">
                <h4 class="clear">Add/Remove items</h4>
                <div class="box-col">
                    <ul class="options">
                        <li>
                            <h4>Add item</h4>
                            <input type="text" id="add-textbox" name="name" value="New Product" />
                            <button id="add-item">Add</button>
                        </li>
                    </ul>
                </div>
                <div class="box-col">
                    <ul class="options">
                        <li>
                            <h4>Remove by text (Contains)</h4>
                            <input type="text" id="remove-textbox" name="name" value="Chef" />
                            <button id="remove-item">Remove</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="demo-section wide">
            <select id="listbox1"></select>
            <select id="listbox2"></select>
            <div id="appendto"></div>
        </div>
        <span id="staticNotification"></span>
    </div>


    <script>
        $(document).ready(function () {
            var notification = $("#staticNotification").kendoNotification({
                autoHideAfter: 4000, appendTo: "#appendto",
                animation: {
                    open: {
                        effects: "fade:in"
                    },
                    close: {
                        effects: "none"
                    }
                }
            }).data("kendoNotification");

            var listbox1 = $("#listbox1").kendoListBox({
                dataTextField: "ProductName",
                dataValueField: "ProductID",
                dataSource: {
                    type: "odata",
                    serverPaging: true,
                    transport: {
                        read: {
                            url: "https://demos.telerik.com/kendo-ui/service/Northwind.svc/Products",
                        }
                    },
                    pageSize: 10
                },
                connectWith: "listbox2",
            }).data("kendoListBox");

            var listbox2 = $("#listbox2").kendoListBox({
                dataTextField: "ProductName",
                dataValueField: "ProductID",
                dataSource: []
            }).data("kendoListBox");

            function showMessage(message) {
                notification.hide();
                notification.error(message);
            }

            $("#transfer-left").click(function () {
                if (listbox2.select().length > 0) {
                    listbox1.add(listbox2.dataItem(listbox2.select()));
                    listbox2.remove(listbox2.select());
                }
                else {
                    showMessage("Right ListBox should have selected item!");
                }
            })

            $("#transfer-right").click(function () {
                if (listbox1.select().length > 0) {
                    listbox2.add(listbox1.dataItem(listbox1.select()));
                    listbox1.remove(listbox1.select());
                }
                else {
                    showMessage("Left ListBox should have selected item!");
                }
            })

            $("#enable").click(function () {
                listbox1.enable(".k-item", true);
                listbox2.enable(".k-item", true);
            })

            $("#disable").click(function () {
                if (listbox1.select().length > 0 || listbox2.select().length > 0) {
                    listbox1.enable(listbox1.select(), false);
                    listbox2.enable(listbox2.select(), false);
                }
                else {
                    showMessage("You need to select an item to be disabled!");
                }
            })

            $("#move-up").click(function () {
                if (listbox1.select().length > 0) {
                    if (listbox1.select().first().index() > 0) {
                        var item = listbox1.select().first();
                        listbox1.reorder(item, item.index() - 1);
                    }
                    else {
                        showMessage("Selected item is already at first position!");
                    }
                }
                else {
                    showMessage("Left ListBox should have selected item!");
                }
            })

            $("#move-down").click(function () {
                if (listbox1.select().length > 0) {
                    if (listbox1.select().first().index() < listbox1.items().length - 1) {
                        var item = listbox1.select().first();
                        listbox1.reorder(item, item.index() + 1);
                    }
                    else {
                        showMessage("Selected item is already at last position!");
                    }
                }
                else {
                    showMessage("Left ListBox should have selected item!");
                }
            })

            var Product = kendo.data.Model.define({
                id: "ProductID",
                fields: {
                    "ProductName": {
                        type: "string"
                    }
                }
            });

            $("#add-item").click(function () {
                var text = $("#add-textbox").val();
                var item = listbox1.add(new Product({
                    ProductName: text
                }));
            })

            $("#remove-item").click(function () {
                var text = $("#remove-textbox").val().toLowerCase();
                var items = listbox1.items();
                for (var i = 0; i < items.length; i++) {
                    var dataItem = listbox1.dataItem(items[i]);
                    if (dataItem.ProductName.toLowerCase().indexOf(text) >= 0) {
                        listbox1.remove(items[i]);
                    }
                }
            })
        });
    </script>

    <style>
        .k-notification-wrap {
            padding: 8px 30px!important;
        }

        #appendto {
            margin-top: 5px;
            height: 15px;
        }

            #appendto .k-i-error {
                padding-right: 8px;
            }

        .box h4 {
            margin-top: 25px;
        }

        #example .demo-section {
            overflow: hidden;
            max-width: none;
            width: 645px;
        }

        #example .k-listbox {
            width: 275px;
            height: 310px;
        }

            #example .k-listbox:first-of-type {
                margin-right: 1px;
            }
    </style>

    <div id="example" role="application">
        <div class="demo-section wide">
            <div class="k-rtl">
                <label for="optional" id="opt">Optional</label>
                <label for="selected">Selected</label>
                <br />
                <select id="optional5" >
                    <option>Steven White</option>
                    <option>Nancy King</option>
                    <option>Nancy Davolio</option>
                    <option>Robert Davolio</option>
                    <option>Michael Leverling</option>
                    <option>Andrew Callahan</option>
                    <option>Michael Suyama</option>
                </select>
                <select id="selected5"></select>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                $("#optional5").kendoListBox({
                    connectWith: "selected",
                    toolbar: {
                        tools:["moveUp","moveDown","transferTo","transferFrom", "transferAllTo", "transferAllFrom", "remove"]
                    }
                });

                $("#selected5").kendoListBox();
            });
        </script>
    </div>

    <style>
        .demo-section label {
            margin-bottom: 5px;
            font-weight: bold;
            display: inline-block;
        }

        #opt {
            width: 270px;
        }

        #example .demo-section {
            max-width: none;
            width: 600px;
        }

        #example .k-i-error-listbox {
            width: 236px;
            height: 360px;
        }

        #example .k-listbox:first-of-type {
            width: 270px;
            margin-right: 1px;
        }
    </style>

    <div id="example" role="application">
        <div class="demo-section wide">
            <select id="listbox6"></select>
            <select id="listbox62"></select>
        </div>

        <script>
            $(document).ready(function() {
                $("#listbox6").kendoListBox({
                    dataTextField: "ProductName",
                    dataValueField:"ProductID",
                    dataSource: {
                        type: "odata",
                        serverFiltering : true,
                        transport: {
                            read: {
                                url: "https://demos.telerik.com/kendo-ui/service/Northwind.svc/Products",
                            }
                        }
                    },
                    selectable: "multiple",
                    connectWith: "listbox62",
                    navigatable: true
                });

                $("#listbox62").kendoListBox({
                    dataTextField: "ProductName",
                    dataValueField: "ProductID",
                    dataSource: [],
                    selectable: "single",
                    navigatable: true
                });

                $(document).on("keydown.examples", function (e){
                    if(e.altKey && e.keyCode === 87) {
                        $("#listbox6").data("kendoListBox").focus();
                    }
                });
            });
        </script>
    </div>

    <div id="example7">
        <div class="demo-section wide">
                <select id="listbox7" data-role="listbox"
                    data-text-field="ProductName"
                    data-value-field="ProductID"
                    data-toolbar='{
                    tools: ["moveUp", "moveDown", "transferTo", "transferFrom", "transferAllTo", "transferAllFrom", "remove"]
                }'
                    data-connect-with="listbox72"
                    data-bind="source: products,
                        events: {
                            change: change,
                            dataBound: dataBound,
                            reorder: reorder,
                            remove: remove
                        }">
                </select>

                <select id="listbox72" data-role="listbox"
                    data-connect-with="listbox7"
                    data-text-field="ProductName"
                    data-value-field="ProductID">
                </select>

        </div>

        <script>
            var viewModel = kendo.observable({
                change: function (e) {
                    kendoConsole.log("event: change");
                },
                dataBound: function (e) {
                    kendoConsole.log("event: dataBound");
                },
                reorder: function (e) {
                    kendoConsole.log("event: reorder");
                },
                remove: function (e) {
                    kendoConsole.log("event: remove");
                },
                products: new kendo.data.DataSource({
                    schema: {
                        model: {
                            id: "ProductID",
                            fields: {
                                ProductName: { type: "string" },
                                UnitPrice: { type: "number" }
                            }
                        }
                    },
                    batch: true,
                    pageSize: 15,
                    transport: {
                        read: {
                            url: "https://demos.telerik.com/kendo-ui/service/products",
                            dataType: "jsonp"
                        }
                    }
                })
            });
            kendo.bind($("#example7"), viewModel);
        </script>
    </div>

    <style>
        #example .demo-section {
            max-width: none;
            width: 600px;
        }

        #example .k-listbox {
            width: 236px;
            height: 350px;
        }

        #example .k-listbox:first-of-type {
            width: 270px;
            margin-right: 1px;
        }
    </style>


        <div class="kd-example-console">
            <div class="header">
                <span class="title">CONSOLE LOG</span>
                <span class="clear kd-text-secondary">Clear log</span>
            </div>
            <div class="console"></div>
        </div>
</body>
