<head>
    <base href="https://demos.telerik.com/kendo-ui/radiobutton/index">
    <style>
        html {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }</style>
    <title></title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.3.1109/styles/kendo.default-ocean-blue.min.css" />
    <script src="https://kendo.cdn.telerik.com/2022.3.1109/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2022.3.1109/js/kendo.all.min.js"></script>
</head>
<body>
    <div id="example">
        <div class="demo-section">
            <h4>Select Car Engine</h4>
            <ul class="fieldlist">
                <li>
                    <input type="radio" name="engine" id="engine1" />
                </li>
                <li>
                    <input type="radio" name="engine" id="engine2" />
                </li>
                <li>
                    <input type="radio" name="engine" id="engine3" />
                </li>
                <li>
                    <input type="radio" name="engine" id="engine4" />
                </li>
                <li>
                    <input type="radio" name="engine" id="engine5" />
                </li>
                <li>
                    <input type="radio" name="engine" id="engine6" />
                </li>
                <li>
                    <input type="radio" name="engine" id="engine7" />
                </li>
            </ul>
        </div>

        <script>
            $('#engine1').kendoRadioButton({
                label: "1.4 Petrol, 92kW",
                checked: true
            })
            $('#engine2').kendoRadioButton({
                label: "1.8 Petrol, 118kW"
            })
            $('#engine3').kendoRadioButton({
                label: "2.0 Petrol, 147kW"
            })
            $('#engine4').kendoRadioButton({
                label: "3.6 Petrol, 191kW",
                enabled: false
            })
            $('#engine5').kendoRadioButton({
                label: "1.6 Diesel, 77kW"
            })
            $('#engine6').kendoRadioButton({
                label: "2.0 Diesel, 103kW"
            })
            $('#engine7').kendoRadioButton({
                label: "2.0 Petrol, 125kW",
                enabled: false
            })
        </script>
        <style>
            .fieldlist {
                margin: 0 0 -1em;
                padding: 0;
            }

                .fieldlist li {
                    list-style: none;
                    padding-bottom: 1em;
                }
        </style>
    </div>

    <div id="example">
        <div class="configurator">
            <div class="header">Configurator</div>
            <div class="box-col">
                <ul class="options">
                    <li>
                        <h4>Size</h4>
                        <input id="size" name="size" />
                    </li>
                </ul>
            </div>  
        </div>


        <div class="demo-section">
            <div><input type="radio" name="radioBtn" id="radioBtn1" /> </div>
            <div><input type="radio" name="radioBtn" id="radioBtn2" /> </div>
            <div><input type="radio" name="radioBtn" id="radioBtn3" /> </div>
        </div>

        <script>
            $(document).ready(function () {

                $("#radioBtn1").kendoRadioButton({
                    checked: true,
                    label: "Agree"
                });
                $("#radioBtn2").kendoRadioButton({
                    label: "Disagree"
                });
                $("#radioBtn3").kendoRadioButton({
                    label: "N/A"
                });

                var size = $("#size").kendoDropDownList({
                    dataTextField: "text",
                    dataValueField: "value",
                    value: "medium",
                    change: onChange,
                    dataSource: [
                        { text: "Small", value: "small" },
                        { text: "Medium", value: "medium" },
                        { text: "Large", value: "large" }
                    ]
                }).data("kendoDropDownList");                   

                function onChange(e) {

                    var sizeValue = size.value();                
                                  
                    $("#radioBtn1").data('kendoRadioButton').setOptions({
                        size: sizeValue
                    })

                    $("#radioBtn2").data('kendoRadioButton').setOptions({
                        size: sizeValue
                    })

                    $("#radioBtn3").data('kendoRadioButton').setOptions({
                        size: sizeValue
                    })
                }                                  
            });
        </script>

        <style>
	        .k-picker.k-dropdownlist {
		        width: 140px;
	        }
        </style>
    
    </div>
</body>
