<head>
    <base href="https://demos.telerik.com/kendo-ui/validator/index#">
    <style>
        html {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }</style>
    <title></title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.3.1109/styles/kendo.default-ocean-blue.min.css" />
    <script src="https://kendo.cdn.telerik.com/2022.3.1109/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2022.3.1109/js/kendo.all.min.js"></script>
</head>
<body>
    <div id="example">
        <div class="demo-section">

            <div id="validation-summary">
            </div>

            <form id="ticketsForm" class="k-form k-form-vertical">
                <ul class="k-form-group">
                    <li class="k-form-field">
                        <label for="fullname" class="k-form-label">Your Name</label>
                        <span class="k-form-field-wrap">
                            <input type="text" id="fullname" name="fullname" placeholder="Full name" required validationMessage="Enter {0}" />
                        </span>
                    </li>
                    <li class="k-form-field">
                        <label for="search" class="k-form-label">Movie</label>
                        <span class="k-form-field-wrap">
                            <input type="search" id="search" name="search" required validationMessage="Select movie" />
                            <span class="k-invalid-msg" data-for="search"></span>
                        </span>
                    </li>
                    <li class="k-form-field">
                        <label for="date" class="k-form-label">Date</label>
                        <span class="k-form-field-wrap">
                            <input type="text" id="date" name="date"
                                   min="5/6/2017" data-max-msg="Enter date after '5/6/2017''"
                                   pattern="\d+\/\d+\/\d+" validationMessage="Enter full date" />
                            <span class="k-invalid-msg" data-for="date"></span>
                        </span>
                    </li>
                    <li class="k-form-field">
                        <label for="time" class="k-form-label">Start time</label>
                        <span class="k-form-field-wrap">
                            <select name="time" id="time" required data-required-msg="Select start time">
                                <option>14:00</option>
                                <option>15:30</option>
                                <option>17:00</option>
                                <option>20:15</option>
                            </select>
                            <span class="k-invalid-msg" data-for="time"></span>
                        </span>
                    </li>
                    <li class="k-form-field">
                        <label for="amount" class="k-form-label">Amount</label>
                        <span class="k-form-field-wrap">
                            <input id="amount" name="amount" type="text" min="1" max="10" value="1" required data-max-msg="Enter value between 1 and 10" />
                            <span class="k-invalid-msg" data-for="amount"></span>
                        </span>
                    </li>
                    <li class="k-form-field">
                        <label for="email" class="k-form-label">Email</label>
                        <span class="k-form-field-wrap">
                            <input type="email" id="email" name="email" placeholder="e.g. myname@example.net" required data-email-msg="Email format is not valid" />
                        </span>
                    </li>
                    <li class="k-form-field">
                        <label for="tel" class="k-form-label">Phone</label>
                        <span class="k-form-field-wrap">
                            <input type="tel" id="tel" name="tel" pattern="\d{10}" placeholder="Enter a ten-digit number" required
                                   validationMessage="Enter a ten-digit number" />
                        </span>
                    </li>
                    <li class="k-form-field">
                        <label for="rating" class="k-form-label">Rating</label>
                        <span class="k-form-field-wrap">
                            <input id="rating" name="rating" required validationMessage="Select a rating" />
                            <span class="k-invalid-msg" data-for="rating"></span>
                        </span>
                    </li>
                    <li class="k-form-field">
                        <span class="k-form-label">Terms of Service</span>
                        <span class="k-form-field-wrap">
                            <label>
                                <input type="checkbox" name="Accept" required validationMessage="Acceptance is required" />
                                I accept the terms of service.
                            </label>
                        </span>
                    </li>
                    <li class="k-form-buttons">
                        <button class="k-button k-button-solid-primary k-button-solid k-button-md k-rounded-md" type="submit">Submit</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var data = [
                "12 Angry Men",
                "Il buono, il brutto, il cattivo.",
                "Inception",
                "One Flew Over the Cuckoo's Nest",
                "Pulp Fiction",
                "Schindler's List",
                "The Dark Knight",
                "The Godfather",
                "The Godfather: Part II",
                "The Shawshank Redemption"
            ];

            $("#fullname").kendoTextBox();

            $("#email").kendoTextBox();

            $("#tel").kendoTextBox();

            $("#search").kendoAutoComplete({
                dataSource: data,
                separator: ", "
            });

            $("#time").kendoDropDownList({
                optionLabel: "--Start time--"
            });

            $("#amount").kendoNumericTextBox();

            $("#date").kendoDateInput();

            $("#rating").kendoRating();

            var validator = $("#ticketsForm").kendoValidator().data("kendoValidator");
            var validationSummary = $("#validation-summary");

            $("form").submit(function (event) {
                event.preventDefault();

                if (validator.validate()) {
                    validationSummary.html("<div class='k-messagebox k-messagebox-success'>Hooray! Your tickets has been booked!</div>");
                } else {
                    validationSummary.html("<div class='k-messagebox k-messagebox-error'>Oops! There is invalid data in the form.</div>");
                }
            });
        });
    </script>

    <div id="example">
        <div class="demo-section">
            <form id="employeeForm2" class="k-form k-form-vertical" data-role="validator" novalidate="novalidate">
                <ul class="k-form-group">
                    <li class="k-form-field">
                        <label for="FirstName" class="k-form-label">First Name:</label>
                        <span class="k-form-field-wrap">
                            <input type="text" name="FirstName" id="FirstName2" required="required" />
                        </span>
                    </li>
                    <li class="k-form-field">
                        <label for="LastName" class="k-form-label">Last Name:</label>
                        <span class="k-form-field-wrap">
                            <input type="text" name="LastName" id="LastName2" required="required" />
                        </span>
                    </li>
                    <li class="k-form-field">
                        <label for="HireDate" class="k-form-label">Hire Date:</label>
                        <span class="k-form-field-wrap">
                            <input type="text" data-role="datepicker" id="HireDate" name="HireDate" data-type="date" required="required" />
                            <span data-for="HireDate" class="k-invalid-msg"></span>
                        </span>
                    </li>
                    <li class="k-form-field">
                        <label for="RetireDate" class="k-form-label">Retire Date:</label>
                        <span class="k-form-field-wrap">
                            <input type="text" data-role="datepicker" id="RetireDate" data-type="date" name="RetireDate" data-greaterdate-field="HireDate" data-greaterdate-msg="Retire date should be after Hire date" />
                            <span data-for="RetireDate" class="k-invalid-msg"></span>
                        </span>
                    </li>
                    <li class="k-form-buttons">
                        <button type="button" class="k-button k-button-solid-primary k-button-solid k-button-md k-rounded-md" data-role="button" data-click="save">Save</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>


    <style>
    </style>


    <script type="text/javascript">
        $(function () {
            $("#FirstName2").kendoTextBox();

            $("#LastName2").kendoTextBox();

            var container = $("#employeeForm2");

            kendo.init(container);

            container.kendoValidator({
                rules: {
                    greaterdate: function (input) {
                        if (input.is("[data-greaterdate-msg]") && input.val() != "") {
                            var date = kendo.parseDate(input.val()),
                                otherDate = kendo.parseDate($("[name='" + input.data("greaterdateField") + "']").val());
                            return otherDate == null || otherDate.getTime() < date.getTime();
                        }

                        return true;
                    }
                }
            });
        });

        function save(e) {
            var validator = $("#employeeForm2").data("kendoValidator");
            if (validator.validate()) {
                alert("Employee Saved");
            }
        }

    </script>

</body>
