<!DOCTYPE html>
<html>
<head>
    <base href="https://demos.telerik.com/kendo-ui/appbar/index">
    <base href="https://demos.telerik.com/kendo-ui/appbar/position">
    <style>
        html {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }</style>
    <title></title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.3.1109/styles/kendo.default-ocean-blue.min.css" />

    <script src="https://kendo.cdn.telerik.com/2022.3.1109/js/jquery.min.js"></script>


    <script src="https://kendo.cdn.telerik.com/2022.3.1109/js/kendo.all.min.js"></script>



</head>
<body>
    <script src="../content/shared/js/products.js"></script>
    <div id="example">
        <div id="appbar"></div>
        <div class="controls-container">
            <div id="chart"></div>
            <div id="grid"></div>
        </div>
    </div>

    <script id="search-template" type="text/x-kendo-tmpl">
        <span class="k-textbox k-input k-input-md k-rounded-md k-input-solid">
            <input autocomplete="off" placeholder="Search products" title="Search products" class="k-input-inner">
            <span class="k-input-suffix">
                <span class="k-input-icon k-icon k-i-search"></span>
            </span>
        </span>
    </script>

    <script>
        $("#appbar").kendoAppBar({
            themeColor: "inherit",
            items: [
                { template: '<a role="button" class="k-button k-button-flat-base k-button-flat k-button-md k-rounded-md k-icon-button" href="\\#"><span class="k-button-icon k-button-icon k-icon k-i-menu"></span></a>', type: "contentItem" },
                { width: 16, type: "spacer" },
                { template: '<h3 class="title">All Products</h3>', type: "contentItem" },
                { width: 16, type: "spacer" },
                { template: '<a class="k-clear-search k-button k-button-flat-base k-button-flat k-button-md k-rounded-md" href="\\#">Clear search</a>', type: "contentItem" },
                { type: "spacer" },
                { template: kendo.template($("#search-template").html()), type: "contentItem" },
                { width: 8, type: "spacer" },
                { template: '<a class="k-toggle-button k-button k-button-flat-base k-button-flat k-button-md k-rounded-md k-icon-button" href="\\#"><span class="k-button-icon k-button-icon k-icon k-i-saturation"></span></a>', type: "contentItem" }
            ]
        }).on("input", "input.k-input-inner", function (e) {
            console.log(e);
            var input = e.currentTarget;
            var atributos = input.attributes[0].localName;
            console.log(atributos);
            var grid = $("#grid").getKendoGrid();
            clearTimeout(grid.searchTimeOut);
            grid.searchTimeOut = setTimeout(function () {
                grid.searchTimeOut = null;
                var expression = { filters: [], logic: "or" };
                var value = input.value;

                if (value) {
                    expression.filters.push({ field: "ProductName", operator: "contains", value: value });
                } else {
                    expression = {};
                }

                grid.dataSource.filter(expression);

            }, 300);
        }).on("click", ".k-button", function (e) {
            e.preventDefault();
        }).on("click", ".k-clear-search", function (e) {
            $("#appbar input.k-input").val("").trigger("input");
        }).on("click", ".k-toggle-button", function (e) {
            var chartElement = $("#chart");
            var gridElement = $("#grid");

            if (chartElement.is(":visible")) {
                chartElement.hide();
                gridElement.css("width", "100%");
            } else {
                chartElement.show();
                gridElement.css("width", "");
            }
        });

        $('#badge-overlay').kendoBadge({
            color: 'primary',
            shape: 'circle',
            position: 'top end',
            placement: 'inside'
        });

        $("#chart").kendoChart({
            title: {
                position: "bottom",
                text: "Average unit price by product`s category"
            },
            legend: {
                visible: false
            },
            chartArea: {
                background: ""
            },
            seriesDefaults: {
                labels: {
                    visible: true,
                    background: "transparent",
                    template: "#= category #: \n $#= value#"
                }
            },
            series: [{
                type: "pie",
                autoFit: true,
                startAngle: 150
            }],
            tooltip: {
                visible: true,
                format: "${0}"
            }
        });

        function updateChart(dataSource) {
            var dataItems = dataSource.view();
            var data = [];
            dataItems.forEach(function (group) {
                var aggregateValue = group.aggregates["UnitPrice"].average.toFixed(2);
                data.push({ category: group.value, value: aggregateValue });
            })

            var chart = $("#chart").data("kendoChart");
            var options = chart.options;
            options.series[0].data = data;
            chart.setOptions(options);
        }

        var dataSource = new kendo.data.DataSource({
            change: function (e) {
                updateChart(e.sender);
            },
            data: products,
            autoSync: true,
            group: [
                {
                    field: "Category.CategoryName", aggregates: [
                        { field: "UnitPrice", aggregate: "average" }
                    ]
                }
            ],
            aggregates: [
                { field: "UnitPrice", aggregate: "average" }
            ],
            schema: {
                model: {
                    id: "ProductID",
                    fields: {
                        ProductID: { editable: false, nullable: true },
                        ProductName: { validation: { required: true } },
                        Category: { defaultValue: { CategoryID: 1, CategoryName: "Beverages" } },
                        UnitPrice: { type: "number", validation: { required: true, min: 1 } }
                    }
                }
            }
        });

        $("#grid").kendoGrid({
            dataSource: dataSource,
            columns: [
                { field: "ProductName", title: "Product Name", width: "200px" },
                { field: "Category", title: "Category", width: "180px", template: "#=Category.CategoryName#" },
                { field: "UnitPrice", title: "Unit Price", format: "{0:c}", width: "130px", groupFooterTemplate: "Average #=kendo.toString(average, 'n2')#", aggregates: ["average"] }]
        });
    </script>

    <div id="example">
        <div class="configurator">
            <div class="header">Configurator</div>
            <div class="box-col">
                <h4>Position Mode</h4>
                <input type="radio" id="sticky" name="positionMode" value="sticky" checked="checked">
                <label for="sticky">Sticky</label><br>
                <input type="radio" id="static" name="positionMode" value="static">
                <label for="static">Static</label>
            </div>
            <div class="box-col">
                <h4>Position</h4>
                <input type="radio" id="top" name="position" value="top" checked="checked">
                <label for="top">Top</label><br>
                <input type="radio" id="bottom" name="position" value="bottom">
                <label for="bottom">Bottom</label>
            </div>
            <div class="box-col">
                <h4>Theme Color</h4>
                <input type="radio" id="light" name="themeColor" value="light">
                <label for="light">Light (default)</label><br>
                <input type="radio" id="dark" name="themeColor" value="dark" checked="checked">
                <label for="dark">Dark</label><br>
            </div>
        </div>
        <div class="appbar-container">
            <div id="appbar"></div>
            <div class="content">
                <p class="p-content">
                    Personal branding is the conscious and intentional effort to create and influence public perception of an individual by positioning
                    them as an authority in their industry, elevating their credibility, and differentiating themselves from the competition,
                    to ultimately advance their career, increase their circle of influence, and have a larger impact.
                </p>
                <p class="p-content">
                    The process of personal branding involves finding your uniqueness, building a reputation on the things you want to be known for,
                    and then allowing yourself to be known for them. Ultimately, the goal is to create something that conveys a message and that can be monetized.
                </p>
                <p class="p-content">
                    Whereas some self-help practices focus on self-improvement, personal branding defines success as a form of self-packaging. The term is thought
                    to have originated from an article written by Tom Peters in 1997. In Be Your Own Brand, first published in 1999, marketers David McNally
                    and Karl Speak wrote: "Your brand is a perception or emotion, maintained by somebody other than you, that describes the total
                    experience of having a relationship with you."
                </p>
                <p class="p-content">
                    Individuals sometimes associate personal names or pseudonyms with their businesses. Notably, 45th President of the United States and
                    real estate mogul Donald Trump uses his last name on properties and other enterprises. Celebrities may also leverage their social
                    status to support organizations for financial or social gain. For example, Kim Kardashian endorses brands and products through
                    her media influence.
                </p>
                <p class="p-content">
                    The relationship between brands and consumers is dynamic and must be constantly refined. This continuous process demonstrates the
                    ambivalence of consumerism. Bop Design estimates that 80% of consumers are more likely to evaluate solutions from the brands they follow
                    on a social network.
                </p>
                <p class="p-content">
                    A personal brand is a widely-recognized and largely-uniform perception or impression of an individual based on their experience,
                    expertise, competencies, actions and/or achievements within a community, industry, or the marketplace at large.
                </p>
            </div>
        </div>

        <script id="search-template" type="text/x-kendo-tmpl">
            <span class="k-textbox k-input k-input-md k-rounded-md k-input-solid">
                <input autocomplete="off" placeholder="Search..." title="Search..." class="k-input-inner">
                <span class="k-input-suffix">
                    <span class="k-input-icon k-icon k-i-search"></span>
                </span>
            </span>
        </script>
        <script>
            $(function () {
                $(".box-col").on("change", "input", function (e) {
                    var option = $(this).attr("name");
                    var value = $(this).val();
                    var options = {};
                    var appbar = $("#appbar").getKendoAppBar();

                    options[option] = value;

                    appbar.setOptions(options);

                    if (appbar.options.position == "top") {
                        appbar.element.prependTo($(".appbar-container"));
                    } else {
                        appbar.element.appendTo($(".appbar-container"));
                    }
                });
            });
            $("#appbar").kendoAppBar({
                positionMode: "sticky",
                position: "top",
                themeColor: "dark",
                items: [
                    {
                        template: `<div class="k-avatar k-avatar-circle k-avatar-image k-avatar-md">
                                              <img src="../content/web/Kendoka-32.png"></div>`,
                        type: "contentItem"
                    },
                    { width: 8, type: "spacer" },
                    { template: '<h1 class="links">Follow me</h1>', type: "contentItem" },
                    { width: 8, type: "spacer" },
                    {
                        className: 'social-section',
                        template: `<span class="k-icon k-i-facebook" />
                                               <span class="k-icon k-i-twitter" />
                                               <span class="k-icon k-i-pinterest" />
                                               <span class="k-icon k-i-google-plus" />
                                               <span class="k-icon k-i-linkedin" />`,
                        type: "contentItem"
                    },
                    { type: "spacer" },
                    {
                        template: kendo.template($("#search-template").html()),
                        type: "contentItem"
                    }
                ]
            }).on("input", "input.k-input-inner", function (e) {
                var text = $(".p-content");
                text.each(function (idx, paragraph) {
                    var regex = new RegExp(e.target.value, 'gi')
                    var response = $(paragraph).text().replace(regex, function (str) {
                        return "<span style='background-color: yellow;'>" + str + "</span>"
                    });
                    $(paragraph).html(response);
                });
            });
        </script>

    </div>
    <style>
        .spacer-container {
            background-color: #f3f3f3;
        }

        .appbar-container {
            height: 400px;
            overflow: auto;
        }

        #example div.configurator {
            margin: 0;
        }

        #demo-runner {
            padding: 0;
        }

        .title {
            font-size: 18px;
            margin: 0;
        }

        .social-section .k-icon {
            margin: 0 4px;
        }

        .links {
            font-size: 18px;
            margin: 0;
        }

        .k-appbar .k-textbox {
            width: 250px;
        }

        .content {
            background: white;
            padding: 25px 10px;
            margin-top: 1px;
        }

            .content p {
                font-size: 18px;
            }
    </style>



</body>
</html>
