<head>
    <base href="https://demos.telerik.com/kendo-ui/splitbutton/index#">
    <base href="https://demos.telerik.com/kendo-ui/splitbutton/events">
    <style>html { font-size: 14px; font-family: Arial, Helvetica, sans-serif; }</style>
    <title></title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.3.1109/styles/kendo.default-ocean-blue.min.css" />
    <script src="https://kendo.cdn.telerik.com/2022.3.1109/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2022.3.1109/js/kendo.all.min.js"></script>
     <link rel="stylesheet" href="../content/shared/styles/examples-offline.css">
    <script src="../content/shared/js/console.js"></script>


</head>
<body>
    <div id="example">
        <div class="demo-section">
            <div>
                <h4>Default Button:</h4>
                <button id="default">Paste</button>
            </div>

            <div>
                <h4>Flat Button:</h4>
                <button id="flat">Paste</button>
            </div>

            <div>
                <h4>Outline Button</h4>
                <button id="outline">Paste</button>
            </div>

            <script>
                $("#default").kendoSplitButton({
                    icon: "paste",
                    items: [
                        { id: "keep-text", text: "Keep Text Only", icon: "paste-plain-text", click: function () { alert("Keep Text Only") } },
                        { id: "paste-html", text: "Paste as HTML", icon: "paste-as-html", click: function () { alert("Paste as HTML") } },
                        { id: "paste-markdown", text: "Paste Markdown", icon: "paste-markdown", click: function () { alert("Paste Markdown") } },
                        { id: "paste-default", text: "Set Default Paste", click: function () { alert("Set Default Paste") } }
                    ]
                });

                $("#flat").kendoSplitButton({
                    icon: "paste",
                    fillMode: "flat",
                    items: [
                        { id: "keep-text", text: "Keep Text Only", icon: "paste-plain-text", click: function () { alert("Keep Text Only") } },
                        { id: "paste-html", text: "Paste as HTML", icon: "paste-as-html", click: function () { alert("Paste as HTML") } },
                        { id: "paste-markdown", text: "Paste Markdown", icon: "paste-markdown", click: function () { alert("Paste Markdown") } },
                        { id: "paste-default", text: "Set Default Paste", click: function () { alert("Set Default Paste") } }
                    ],
                });

                $("#outline").kendoSplitButton({
                    fillMode: "outline",
                    icon: "paste",
                    items: [
                        { id: "keep-text", text: "Keep Text Only", icon: "paste-plain-text", click: function () { alert("Keep Text Only") } },
                        { id: "paste-html", text: "Paste as HTML", icon: "paste-as-html", click: function () { alert("Paste as HTML") } },
                        { id: "paste-markdown", text: "Paste Markdown", icon: "paste-markdown", click: function () { alert("Paste Markdown") } },
                        { id: "paste-default", text: "Set Default Paste", click: function () { alert("Set Default Paste") } }
                    ]
                });
            </script>
        </div>
        <style>
            .demo-section {
                display: flex;
                justify-content: space-between;
            }
        </style>

    </div>

    <div id="example">
        <div style="margin-top:100px;">
            <button id="button">Paste</button>
        </div>

        <script>
            $(document).ready(function(){
                $("#button").kendoSplitButton({
                    icon: "paste",
                    items: [
                        {id: "keep-text", text:"Keep Text Only", icon:"paste-plain-text"},
                        {id: "paste-html", text: "Paste as HTML", icon: "paste-as-html", hidden: true },
                        {id: "paste-markdown", text: "Paste Markdown", icon: "paste-markdown", enabled: false },
                        {id: "favourite", text: "Mark As Favourite", imageUrl: '../content/shared/icons/16/star.png' },
                        {id: "paste-default", text: "Set Default Paste"}
                    ]
                });
            });
        </script>
        <style>
            #example {
                text-align: center;
            }
        </style>
    </div>

    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <div id="example">
        <div class="demo-section">
            <div style="margin:100px auto;">
                <h3>SplitButton iconCss:</h3>
                <button id="iconCssButton">Paste</button>
            </div>

            <div style="margin:100px auto;">
                <h3>SplitButton spriteCssClass:</h3>
                <button id="spriteButton">Play</button>
            </div>
            <script>
                $("#iconCssButton").kendoSplitButton({
                    arrowIcon: "chevron-down",
                    iconClass: "fa fa-plus",
                    items: [
                        { id: "keep-text", text: "Keep Text Only", icon: "gear" },
                        { id: "paste-html", text: "Paste as HTML", icon: "paste-as-html" },
                        { id: "paste-markdown", text: "Paste Markdown", icon: "paste-markdown" },
                        { id: "paste-default", text: "Set Default Paste" }
                    ]
                })

                $("#spriteButton").kendoSplitButton({
                    spriteCssClass: "k-icon videoIcon",
                    items: [
                        { id: "stop", text: "Stop", icon: "stop" },
                        { id: "pause", text: "Pause", icon: "pause" },
                        { id: "resume", text: "Resume", icon: "play" }
                    ]
                })
            </script>
        </div>
        <style>
            .demo-section {
                display: flex;
            }

            .videoIcon {
                background-image: url("../content/shared/icons/16/video.png");
            }
        </style>
    </div>

    <div id="example">
        <div class="configurator">
            <div class="header">Configurator</div>
            <div class="box-col">
                <ul class="options">
                    <li>
                        <h4>Size</h4>
                        <input id="size" name="size" />
                    </li>
                </ul>
            </div>
            <div class="box-col">
                <ul class="options">
                    <li>
                        <h4>Theme Color</h4>
                        <input id="themeColor" name="themeColor" />
                    </li>
                </ul>
            </div>
            <div class="box-col">
                <ul class="options">
                    <li>
                        <h4>Fill Mode</h4>
                        <input id="fillMode" name="fillMode" />
                    </li>
                </ul>
            </div>
            <div class="box-col">
                <ul class="options">
                    <li>
                        <h4>Border Radius</h4>
                        <input id="rounded" name="rounded" />
                    </li>
                </ul>
            </div>
        </div>


        <div style="margin-top:100px;">
            <button id="button4">SplitButton</button>
        </div>

        <script>
            $(document).ready(function () {

                $("#size").kendoDropDownList({
                    dataTextField: "text",
                    dataValueField: "value",
                    value: "medium",
                    change: onChange,
                    dataSource: [
                        { text: "Small", value: "small" },
                        { text: "Medium", value: "medium" },
                        { text: "Large", value: "large" },
                        { text: "None", value: "none" }

                    ]
                });

                $("#themeColor").kendoDropDownList({
                    dataTextField: "text",
                    dataValueField: "value",
                    value: "base",
                    change: onChange,
                    dataSource: [
                        { text: "Base", value: "base" },
                        { text: "Primary", value: "primary" },
                        { text: "Secondary", value: "secondary" },
                        { text: "Teritary", value: "teritary" },
                        { text: "Info", value: "info" },
                        { text: "Success", value: "success" },
                        { text: "Warning", value: "warning" },
                        { text: "Error", value: "error" },
                        { text: "Dark", value: "dark" },
                        { text: "Light", value: "light" },
                        { text: "Inverse", value: "inverse" },
                        { text: "None", value: "none" }
                    ]
                });

                $("#rounded").kendoDropDownList({
                    dataTextField: "text",
                    dataValueField: "value",
                    value: "medium",
                    change: onChange,
                    dataSource: [
                        { text: "Small", value: "small" },
                        { text: "Medium", value: "medium" },
                        { text: "Large", value: "large" },
                        { text: "Full", value: "full" },
                        { text: "None", value: "none" }
                    ]
                });

                $("#fillMode").kendoDropDownList({
                    dataTextField: "text",
                    dataValueField: "value",
                    value: "solid",
                    change: onChange,
                    dataSource: [
                        { text: "Solid", value: "solid" },
                        { text: "Outline", value: "outline" },
                        { text: "Flat", value: "flat" },
                        { text: "Link", value: "link" },
                        { text: "None", value: "none" }
                    ]
                });

                function onChange(e) {
                    e.preventDefault();
                    var size = $("#size").data("kendoDropDownList").value();
                    var themeColor = $("#themeColor").data("kendoDropDownList").value();
                    var rounded = $("#rounded").data("kendoDropDownList").value();
                    var fillMode = $("#fillMode").data("kendoDropDownList").value();


                    var button = $("#button4").data("kendoSplitButton");
                    button.setOptions({
                        size: size,
                        themeColor: themeColor,
                        rounded: rounded,
                        fillMode: fillMode,
                    })
                }

                $("#button4").kendoSplitButton({
                    icon: "paste",
                    items: [
                        { id: "keep-text", text: "Keep Text Only", icon: "paste-plain-text" },
                        { id: "paste-html", text: "Paste as HTML", icon: "paste-as-html" },
                        { id: "paste-markdown", text: "Paste Markdown", icon: "paste-markdown" },
                        { id: "paste-default", text: "Set Default Paste" }
                    ]
                });
            });
        </script>
        <style>
            #example {
                text-align: center;
            }

            .k-picker.k-dropdownlist {
                width: 140px;
            }
        </style>
    </div>

    <div id="example">
        <div class="demo-section">
            <button type="button" id="splitButton">Paste</button>
        </div>
        
        <script>
            $(document).ready(function () {

                function onClick(e) {
                    kendoConsole.log("event :: click (#" + e.id + ")");
                }

                function onOpen(e) {
                    kendoConsole.log("event :: open");
                }

                function onClose(e) {
                    kendoConsole.log("event :: close");
                }

                $("#splitButton").kendoSplitButton({
                    click: onClick,
                    open: onOpen,
                    close: onClose,
                    icon: "paste",
                    items: [
                        { id: "keep-text", text: "Keep Text Only", icon: "paste-plain-text" },
                        { id: "paste-html", text: "Paste as HTML", icon: "paste-as-html" },
                        { id: "paste-markdown", text: "Paste Markdown", icon: "paste-markdown" },
                        { id: "paste-default", text: "Set Default Paste" }
                    ],
                });
            });
        </script>

        <style>
            .demo-section{
                text-align:center;
                margin-top:100px;
            }
        </style>
    </div>

    <div class="kd-example-console">
        <div class="header">
            <span class="title">CONSOLE LOG</span>
            <span class="clear kd-text-secondary">Clear log</span>
        </div>
        <div class="console"></div>
    </div>

    <div id="example">
        <div class="configurator">
            <div class="header">Configurator</div>
            <div class="box-col">
                <ul class="options">
                    <li>
                        <button id="enableButton" type="button">Enable</button>
                    </li>
                    <li>
                        <button id="disableButton" type="button">Disable</button>
                    </li>

                </ul>
            </div>
            <div class="box-col">
                <ul class="options">
                    <li>
                        <button id="showButton" type="button">Show 'Keep Text Only' Button</button>
                    </li>
                    <li>
                        <button id="hideButton" type="button">Hide 'Keep Text Only' Button</button>
                    </li>
                </ul>
            </div>
            <div class="box-col">
                <ul class="options">
                    <li>
                        <button id="open" type="button">Open</button>
                        <button id="close" type="button">Close</button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="demo-section">
            <button id="splitButton5">Paste</button>
        </div>

        <script>
            $(document).ready(function () {

                var splitButton = $("#splitButton5").kendoSplitButton({
                    icon: "paste",
                    items: [
                        { id: "keep-text5", text: "Keep Text Only", icon: "paste-plain-text", click: function () { alert("Keep Text Only") } },
                        { id: "paste-html", text: "Paste as HTML", icon: "paste-as-html", click: function () { alert("Paste as HTML") } },
                        { id: "paste-markdown", text: "Paste Markdown", icon: "paste-markdown", click: function () { alert("Paste Markdown") } },
                        { id: "paste-default", text: "Set Default Paste", click: function () { alert("Set Default Paste") } }
                    ],
                }).data("kendoSplitButton");


                $("#enableButton").click(function () {
                    splitButton.enable(true);
                });

                $("#disableButton").click(function () {
                    splitButton.enable(false);
                });

                $("#showButton").click(function () {
                    splitButton.show($("#keep-text5"));
                });

                $("#hideButton").click(function () {
                    splitButton.hide($("#keep-text5"));
                });
                $("#open").click(function () {
                    splitButton.open();
                });
                $("#close").click(function () {
                    splitButton.close();
                });
            });
        </script>

        <style>
            .demo-section {
                text-align: center;
            }
        </style>
    </div>

    <div id="example">
        <div class="k-rtl" style="margin-top: 100px;">
            <button id="button6">Paste</button>
        </div>

        <script>
            $(document).ready(function() {
                $("#button6").kendoSplitButton({
                    icon:"paste",
                    items: [
                        { id: "keep-text", text: "Keep Text Only", icon: "paste-plain-text" },
                        { id: "paste-html", text: "Paste as HTML", icon: "paste-as-html" },
                        { id: "paste-markdown", text: "Paste Markdown", icon: "paste-markdown" },
                        { id: "paste-default", text: "Set Default Paste" }
                    ]
                });
            });
        </script>

         <style>
            #example {
                text-align: center;
            }
        </style>
    </div>

    <div id="example">

        <div style="margin-top:100px;">
           <button id="button8">Paste</button>
        </div>

        <script>
            $(document).ready(function () {

                $("#button8").kendoSplitButton({
                    click:function(){
                        alert("Paste!")
                    },
                    icon:"paste",
                    items: [
                        { id: "keep-text", text: "Keep Text Only", icon: "paste-plain-text", click: function() { alert("Keep Text Only") }},
                        { id: "paste-html", text: "Paste as HTML", icon: "paste-as-html", click:function(){ alert("Paste as HTML") }},
                        { id: "paste-markdown", text: "Paste Markdown", icon: "paste-markdown", click: function() { alert("Paste Markdown") }},
                        { id: "paste-default", text: "Set Default Paste", click: function(){ alert("Set Default Paste")} }
                    ]
                });
            });

            $(document).on("keydown", function (e) {
                if (e.altKey && e.keyCode === 87) {
                    $("#button8").focus()
                }
            });
        </script>
        <style>
            #example {
                text-align: center;
            }
        </style>
    </div>

    <div id="example9">
        <div class="configurator">
            <div class="header">Configurator</div>
            <div class="box-col">
                <h4>Configuration</h4>
                <div>
                    <label><input type="checkbox" data-bind="checked: isEnabled">Enable</label>
                </div>
                <div>
                    <label><input type="checkbox" data-bind="checked: isVisible">Visible</label>
                </div>
            </div>
            <div class="box-col">
                <h4>Information</h4>
                Kendo UI SplitButton supports the
                <a href="https://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/enabled">enabled</a>,
                <a href="https://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/events">events</a> and
                <a href="https://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/visible">visible</a> bindings.
            </div>
        </div>

        <div class="demo-section wide">
            <div>
                <h4>SplitButton</h4>
                <button data-role="splitbutton"
                        data-icon="paste"
                        data-items='[
                            { id: "keep-text", text: "Keep Text Only", icon: "paste-plain-text", click: function(e) { kendoConsole.log("event :: click #" + $(e.currentTarget).attr("id")); }},
                            { id: "paste-html", text: "Paste as HTML", icon: "paste-as-html", click:function(e){ kendoConsole.log("event :: click #" + $(e.currentTarget).attr("id")); }},
                            { id: "paste-markdown", text: "Paste Markdown", icon: "paste-markdown", click: function(e) { kendoConsole.log("event :: click #" + $(e.currentTarget).attr("id")); }},
                            { id: "paste-default", text: "Set Default Paste", click: function(e){ kendoConsole.log("event :: click #" + $(e.currentTarget).attr("id"));  } }
                        ]'
                        data-bind="visible: isVisible, enabled: isEnabled, events: {click: onClick}"
                        >
                    Paste
                </button>
            </div>
        </div>
        <script>
            var viewModel = kendo.observable({
                isVisible: true,
                isEnabled: true,
                onClick: function () {
                    kendoConsole.log("event :: click");
                }
            });
            kendo.bind($("#example9"), viewModel);
        </script>
        <style>
            .demo-section{
                text-align:center;
            }
        </style>
    </div>

    <div class="kd-example-console">
         <div class="header">
            <span class="title">CONSOLE LOG</span>
            <span class="clear kd-text-secondary">Clear log</span>
         </div>
        <div class="console"></div>
    </div>


</body>