<head>
    <base href="https://demos.telerik.com/kendo-ui/stepper/index">
    <style>html { font-size: 14px; font-family: Arial, Helvetica, sans-serif; }</style>
    <title></title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.3.1109/styles/kendo.default-ocean-blue.min.css" />
    <script src="https://kendo.cdn.telerik.com/2022.3.1109/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2022.3.1109/js/kendo.all.min.js"></script>
    <link rel="stylesheet" href="../content/shared/styles/examples-offline.css">
    <script src="../content/shared/js/console.js"></script>
</head>
<body>
    <div id="example">
        <div class="demo-section wide">
            <nav id="stepper"></nav>
        </div>

        <script>
            $(document).ready(function(){
                $("#stepper").kendoStepper({
                    linear:false,
                    steps: [{
                        label:"Personal Info",
                        icon: "user"
                    },
                    {
                        label: "Education",
                        icon: "dictionary-add",
                        error: true
                    },
                    {
                        label: "Experience",
                        icon: "flip-vertical",
                        selected: true
                    },
                    {
                        label: "Attachments",
                        icon: "attachment"
                    },
                    {
                        label: "Review",
                        icon: "Preview",
                        enabled:false
                    },
                    {
                        label: "Submit",
                        icon: "file-add"
                    }]
                   
                });
            });
        </script>
    </div>

    <div id="example">
        <div class="configurator">
            <div class="header">Configurator</div>
            <div class="box-col">
                <h4>Layout Settings</h4>
                <input id="layout2" name="layout" />
            </div>
        </div>
        <div class="demo-section wide">
            <nav id="stepper2"></nav>
        </div>

        <script>
            $(document).ready(function() {
                $("#layout2").kendoDropDownList({
                    dataTextField: "text",
                    dataValueField: "value",
                    dataSource: [
                        {text:"Label and indicator", value: "both", label: true, indicator:true},
                        {text:"Label only", value: "label", label: true, indicator: false},
                        {text: "Indicator Only", value: "indicator", label:false, indicator: true}
                    ],
                    change: onChange
                });

                var original = $("#stepper2").clone(true);

                function onChange(e) {
                    e.preventDefault();
                    var stepper = $("#stepper2"),
                    clone = original.clone(true);

                    stepper.data("kendoStepper");

                    stepper.replaceWith(clone);
                    initStepper();
                };

                var initStepper = function(){
                    var dataItem = 
                    $("#layout2").data("kendoDropDownList").dataItem();
                    $("#stepper2").kendoStepper({
                        indicator: dataItem.indicator,
                        label: dataItem.label,
                        steps: [{
                            label: "First step"
                        },
                        {
                            label: "Second step",
                            selected: true
                        },
                        {
                            label: "Third step"
                        },
                        {
                            label: "Step Four"
                        },
                        {
                            label: "Last Step"
                        }]
                    }).data("kendoStepper");
                };
                initStepper();
            });
        </script>
    </div>

    <div id="example">
        <div class="demo-section wide">
            <nav id="stepper3"></nav>
        </div>

        <script>
            $(document).ready(function() {
                $("#stepper3").kendoStepper({
                    steps:[{
                        label:"Home",
                        icon: "home"
                    },
                    {
                        label:"Setting",
                        icon: "gear"
                    },
                    {
                        label:"Attachments",
                        icon:"attachment"
                    },
                    {
                        label:"Save",
                        icon:"save"
                    }]
                });
            });
        </script>
    </div>

    <div id="example">

        <div class="configurator">
            <div class="header">Configurator</div>
            <div class="box-col">
                <h4>Orientation Settings</h4>
                <label for="orientation">Orientation:</label>
                <input id="orientation" name="orientation" />
            </div>
        </div>
        <div class="demo-section wide">
            <nav id="stepper4"></nav>
        </div>

        <script>
            $(document).ready(function(){
                $("#orientation").kendoDropDownList({
                    dataTextField: "text",
                    dataValueField: "value",
                    value: "horizontal",
                    dataSource: [
                        {text:"Horizontal", value:"horizontal"},
                        {text:"Vertical", value:"vertical"}
                    ],
                    change: onChange
                });
                var original = $("#stepper4").clone(true);

                function onChange(e) {
                    e.preventDefault();
                    var stepper = $("#stepper4"),
                    clone = original.clone(true);

                    stepper.data("kendoStepper");
                    stepper.replaceWith(clone);
                    initStepper();
                };

                var initStepper = function () {
                    var orientation = $("#orientation").data("kendoDropDownList").value();
                    $("#stepper4").kendoStepper({
                        orientation: orientation,
                        steps:[{
                            label:"Personal Details",
                            icon: "user",
                            selected: true
                        },
                        {
                            label:"New Appointment",
                            icon:"calendar" 
                        },
                        {
                            label:"Preview",
                            icon:"preview"
                        },
                        {
                            label:"Submit",
                            icon: "file-add"
                        }]
                    }).data("kendoStepper");
                };

                initStepper();
            });
        </script>
    </div>

    <div id="example">
        <div class="configurator">
            <div class="header">Configurator</div>
            <div class="box-col">
                <h4>Linear mode settings</h4>
                <label for="mode">Linear mode:</label>
                <input id="mode5" name="mode" />
            </div>
        </div>
        <div class="demo-section">
            <nav id="stepper5"></nav>
        </div>

        <script>
            $(document).ready(function(){
                $("#mode5").kendoDropDownList({
                    dataTextField: "text",
                    dataSource: [
                        {text: "True", mode:true},
                        {text: "False", mode: false}
                    ],
                    change: onChange
                });

                var original = $("#stepper5").clone(true);

                function onChange(e) {
                    e.preventDefault();
                    var stepper = $("#stepper5"),
                    clone = original.clone(true);
                    
                    stepper.data("kendoStepper");

                    stepper.replaceWith(clone);

                    initStepper();
                };

                var initStepper = function() {
                    var selectedMode = $("#mode5").data("kendoDropDownList").value();
                    var dataItem = $("#mode5").data("kendoDropDownList").dataItem();
                    $("#stepper5").kendoStepper({
                        orientation: "vertical",
                        linear: dataItem.mode,
                        steps: [{
                            label: "Cart",
                            icon:"cart",
                            selected: true
                        },
                        {
                            label:"Personal Details",
                            icon:"user"
                        },
                        {
                            label:"Shipping Address",
                            icon: "home"
                        },
                        {
                            label:"Place Order",
                            icon:"file-add"
                        }]
                    }).data("kendoStepper");
                };

                initStepper();
            });
        </script>
    </div>

    <div id="example">
        <div class="demo-section wide">
            <nav id="stepper6"></nav>
        </div>

        <script>
            $(document).ready(function(){
                $("#stepper6").kendoStepper({
                    steps:[{
                        label:"First Step",
                    },
                    {
                        label:"Second step",
                    },
                    {
                        label:"Third step",
                    },
                    {
                        label: "Step Four",
                    },
                    {
                        label:"Last step",
                    }],
                    activate: onActivate,
                    select: onSelect
                });

                function onActivate(e){
                    kendoConsole.log("Activated: " + e.step.options.label);
                }

                function onSelect(e) {
                    kendoConsole.log("Selected: " + e.step.options.label);
                }
            });
        </script>
    </div>

    <div class="kd-example-console">
        <div class="header">
            <span class="title">CONSOLE LOG</span>
            <span class="clear kd-text-secondary">Clear log</span>
        </div>
        <div class="console"></div>
    </div>


    <div id="example">
        <div class="configurator">
            <div class="header">Configurator</div>
            <div class="box-col">
                <h4>Enable/Disable</h4>
                <ul class="options">
                    <li>
                        <input id="enableStep" /> <button class="enableStep">Enable Step</button>
                    </li>
                    <li>
                        <input id="disableStep" /> <button class="disableStep">Disable Step</button>
                    </li>
                </ul>
            </div>
            <div class="box-col">
                <h4>Insert/Remove Step</h4>
                <ul class="options">
                    <li>
                        <input type="text" value="1" id="insertAt" /> <button class="insertStep">Insert At</button>
                    </li>
                    <li>
                        <input type="text" value="1" id="removeAt" /> <button class="removeStep">Remove At</button>
                    </li>

                </ul>
            </div>
            <div class="box-col">
                <h4>Navigate</h4>
                <ul class="options">
                    <li>
                        <button class="previousStep">Previous Step</button>
                    </li>
                    <li>
                        <button class="nextStep">Next Step</button>
                    </li>
                </ul>
            </div>
            <div class="box-col">
                <h4>Select Step at Index</h4>
                <ul class="options">
                    <li>
                        <input type="text" value="0" id="stepIndex" /> <button class="selectStep">Select</button>
                    </li>

                </ul>
            </div>
            <div class="box-col">
                <h4>Error state</h4>
                <ul class="options">
                    <li>
                        <button class="toggleError">Toggle Error state of selected Step</button>
                    </li>

                </ul>
            </div>
            <div class="box-col">
                <h4>Reset</h4>
                <ul class="options">
                    <li>
                        <button class="resetStepper">Reset Stepper</button>
                    </li>
                </ul>

            </div>
        </div>

        <div class="demo-section wide">
            <nav id="stepper7"></nav>
        </div>
        <script>
            $(document).ready(function () {
                var select = function (e) {
                    if (e.type != "keypress" || kendo.keys.ENTER == e.keyCode) {
                        stepper.select($("#stepIndex").val());
                    }
                },
                    insert = function (e) {
                        if (e.type != "keypress" || kendo.keys.ENTER == e.keyCode)
                            var index = $("#insertAt").val();
                        var step = { label: "Inserted Step", icon: "file" };
                        stepper.insertAt(index, step);
                    },
                    remove = function (e) {
                        if (e.type != "keypress" || kendo.keys.ENTER == e.keyCode)
                            var index = $("#removeAt").val();
                        stepper.removeAt(index);
                    },
                    enable = function (e) {
                        if (e.type != "keypress" || kendo.keys.ENTER == e.keyCode)
                            var index = $("#enableStep").val();
                        if (index < stepper.steps().length) {
                            stepper.steps()[index].enable(true);
                        }
                    },
                    disable = function (e) {
                        if (e.type != "keypress" || kendo.keys.ENTER == e.keyCode)
                            var index = $("#disableStep").val();
                        if (index < stepper.steps().length) {
                            stepper.steps()[index].enable(false);
                        }
                    };

                $(".nextStep").click(function (e) {
                    stepper.next();
                });

                $(".previousStep").click(function (e) {
                    stepper.previous();
                });

                $(".toggleError").click(function (e) {
                    var step = stepper.select();
                    step.setValid(step.element.hasClass("k-step-error"))
                });

                $(".resetStepper").click(function (e) {
                    linear: false,
                        stepper.steps([{
                            label: "First step"
                        }, {
                            label: "Second step"
                        }, {
                            label: "Third step",
                            selected: true
                        }, {
                            label: "Fourth step",
                            enabled: false
                        }, {
                            label: "Fifth step"
                        }]);
                })

                $("#enableStep").kendoNumericTextBox({
                    min: 0,
                    decimal: 0,
                    format: "n0",
                    value: 0
                });

                $("#disableStep").kendoNumericTextBox({
                    min: 0,
                    decimal: 0,
                    format: "n0",
                    value: 0
                });

                var stepper = $("#stepper7").kendoStepper({
                    linear: false,
                    steps: [{
                        label: "First step"
                    }, {
                        label: "Second step"
                    }, {
                        label: "Third step",
                        selected: true
                    }, {
                        label: "Fourth step",
                        enabled: false
                    }, {
                        label: "Fifth step"
                    }]
                }).data("kendoStepper");

                $(".selectStep").click(select);
                $("#stepIndex").keypress(select);

                $(".insertStep").click(insert);
                $("#insertStep").keypress(insert);

                $(".removeStep").click(remove);
                $("#removeStep").keypress(remove);

                $(".enableStep").click(enable);
                $("#enableStep").keypress(enable);

                $(".disableStep").click(disable);
                $("#disableStep").keypress(disable);
            });
        </script>
    </div>

    <div id="example">
        <div class="demo-section wide k-rtl">
            <nav id="stepper8"></nav>
        </div>

        <script>
            $(document).ready(function(){
                $("#stepper8").kendoStepper({
                    steps: [
                        {label:"First step"},
                        {label:"Second step"},
                        {label:"Third step",selected:true},
                        {label:"Step four", enabled:false},
                        {label:"Last step"}
                    ]
                });
            });
        </script>
    </div>

    <div id="example">
        <div class="configurator">
            <div class="header">Configurator</div>
            <div class="box-col">
                <h4>Select on focus:</h4>
                <ul class="options">
                    <li>
                        <input type="checkbox" id="selectOnFocus" />
                        <label class="k-checkbox-label" for="selectOnFocus">Enable/Disable select on focus</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="demo-section wide">
            <nav id="stepper9"></nav>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            var original = $("#stepper9").clone(true);

            $("#selectOnFocus").change(function () {
                var stepper = $("#stepper9"),
                clone = original.clone(true);

                stepper.data("kendoStepper");

                stepper.replaceWith(clone);

                initStepper();
            })

            var initStepper = function () {
                var selectOnFocus = $("#selectOnFocus").prop("checked");
                $("#stepper9").kendoStepper({
                    selectOnFocus:selectOnFocus,
                    linear:false,
                    steps: [{
                        label: "Personal Info",
                        icon:"user"
                    },{
                        label: "Education",
                        icon:"dictionary-add",
                        error: true
                    },{
                        label: "Experience",
                        icon:"flip-vertical",
                        selected: true
                    },{
                        label: "Attachments",
                        icon: "attachment"
                    },{
                        label: "Preview",
                        icon:"preview",
                        enabled: false
                    },{
                        label: "Submit",
                        icon: "file-add"
                    }]
                }).data("kendoStepper");
            };

            initStepper();

        });

        $(document.body).keydown(function (e) {
            if (e.altKey && e.keyCode == 87) {
                $("#stepper9 .k-step-current .k-step-link").focus();
            }
        });
    </script>

    <div id="example10">
        <div class="demo-section">
            <nav data-role="stepper"
                 data-orientation="vertical"
                 data-label="true"
                 data-linear="false"
                 data-steps="[{ 'label': 'User Details', 'icon': 'user' },{ 'label': 'Settings', 'icon': 'gear', 'selected': true, 'error': true },{ 'label': 'Save and Exit', 'icon': 'save' }]"
                 data-bind="visible: isVisible,
                events: {
                    select: onSelect,
                    activate: onActivate
                }"></nav>
        </div>

        <script>
            var viewModel = kendo.observable({
                isVisible: true,
                onSelect: function (e) {
                    kendoConsole.log("Selected: " + e.step.options.label);
                },
                onActivate: function (e) {
                    kendoConsole.log("Activated: " + e.step.options.label);
                }
            });

            kendo.bind($("#example10"), viewModel);
        </script>
    </div>

    <div class="kd-example-console">
        <div class="header">
            <span class="title">CONSOLE LOG</span>
            <span class="clear kd-text-secondary">Clear log</span>
        </div>
        <div class="console"></div>
    </div>

</body>