<head>
    <base href="https://demos.telerik.com/kendo-ui/wizard/index">
    <style>
        html {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <title></title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.3.1109/styles/kendo.default-ocean-blue.min.css" />
    <script src="https://kendo.cdn.telerik.com/2022.3.1109/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2022.3.1109/js/kendo.all.min.js"></script>
</head>
<body>
    <div id="example">
        <div class="demo-section" style="width:700px">
            <form id="wizard" style="width:500px; margin: 0 auto;" novalidate></form>
        </div>
        <script>

            var countries = [
                "France",
                "Germany",
                "Italy",
                "Netherlands",
                "Norway",
                "Spain"
            ];

            $("#wizard").kendoWizard({
                pager: true,
                done: function (e) {
                    e.originalEvent.preventDefault();
                    kendo.alert("Thank you for registering! Registration details will be sent to your email.");
                },
                steps: [
                    {
                        title: "Account Details",
                        buttons: ["next"],
                        form: {
                            orientation: "vertical",
                            formData: {
                                Username: "johny",
                                Email: "john.doe@email.com",
                                Password: "pass123",
                            },
                            items: [
                                { field: "Username", label: "Username:", validation: { required: true } },
                                { field: "Email", label: "Email:", validation: { required: true, email: true } },
                                { field: "Password", label: "Password:", validation: { required: true }, hint: "Hint: enter alphanumeric characters only.", attributes: { type: "password" } }
                            ]
                        }
                    },
                    {
                        title: "Personal Details",
                        buttons: ["previous", "next"],
                        form: {
                            orientation: "vertical",
                            items: [
                                { field: "FullName", label: "Full Name:", validation: { required: true } },
                                {
                                    field: "Country", label: "Country:", validation: { required: true }, editor: "AutoComplete",
                                    editorOptions: {
                                        dataSource: countries,
                                        filter: "startswith",
                                        placeholder: "Select country..."
                                    }
                                },
                                {
                                    field: "Gender",
                                    label: "Gender:",
                                    validation: { required: true },
                                    editor: "RadioGroup",
                                    editorOptions: {
                                        items: ["Female", "Male", "Other"],
                                        layout: "horizontal",
                                        labelPosition: "before"
                                    }
                                },
                                { field: "About", label: { text: "About:", optional: true } }
                            ]
                        }
                    },
                    {
                        title: "Payment Details",
                        buttons: ["previous", "done"],
                        form: {
                            orientation: "vertical",
                            items: [{
                                type: "group",
                                label: "Payment Details:",
                                layout: "grid",
                                grid: { cols: 3, gutter: 10 },
                                items: [
                                    {
                                        field: "PaymentType",
                                        label: "Payment Type:",
                                        validation: {
                                            required: true,
                                            payment: function (input) {
                                                if (input.is("[name='PaymentType']") && input.attr("required")) {
                                                    input.attr("data-payment-msg", "Payment Type is required");

                                                    return input.parents('[data-role="form"]').find("[type=radio][name=" + input.attr("name") + "]").is(":checked");
                                                }

                                                return true;
                                            }
                                        },
                                        editor: paymentEditor,
                                        colSpan: 3
                                    },
                                    {
                                        field: "CardNumber",
                                        label: "Card Number:",
                                        attributes: { "data-validmaskNumber-Msg": "Card number is incomplete" },
                                        validation: {
                                            required: true,
                                            validmaskNumber: function (input) {
                                                if (input.is("[name='CardNumber']") && input.val() != "") {
                                                    var maskedtextbox = input.data("kendoMaskedTextBox");
                                                    return maskedtextbox.value().indexOf(maskedtextbox.options.promptChar) === -1;
                                                }

                                                return true;
                                            }
                                        },
                                        editor: "MaskedTextBox",
                                        editorOptions: { mask: "0000-0000-0000-0000" },
                                        colSpan: 2
                                    },
                                    {
                                        field: "CSVNumber",
                                        label: "CSV Number:",
                                        attributes: { "data-validmaskCSV-Msg": "CSV code is incomplete" },
                                        validation: {
                                            required: true,
                                            validmaskCSV: function (input) {
                                                if (input.is("[name='CSVNumber']") && input.val() != "") {
                                                    var maskedtextbox = input.data("kendoMaskedTextBox");
                                                    return maskedtextbox.value().indexOf(maskedtextbox.options.promptChar) === -1;
                                                }

                                                return true;
                                            }
                                        },
                                        editor: "MaskedTextBox",
                                        editorOptions: { mask: "000" },
                                        colSpan: 1,
                                        hint: "The last 3 digids on the back"
                                    },
                                    {
                                        field: "ExpirationDate",
                                        label: "Expiration Date:",
                                        validation: {
                                            required: true,
                                        },
                                        editor: "DateInput",
                                        editorOptions: {
                                            format: "MM/yyyy"
                                        },
                                        colSpan: 3
                                    },
                                    {
                                        field: "CardHolderName",
                                        label: "Card Holder Name:",
                                        validation: {
                                            required: true
                                        },
                                        colSpan: 3
                                    },
                                ]
                            }]
                        }
                    }]
            });

            function paymentEditor(container, item) {
                container.append($(
                    '<div class="payment-type">' +
                    '<ul class="k-radio-list k-list-horizontal justify-payment" >' +
                    '<li class="k-radio-item">' +
                    '<input type="radio" id="visa" name="' + item.field + '" value="Visa" class="k-radio k-radio-md" required />' +
                    '<label class="card visa" for="visa" tabindex="0"></label>' +
                    '</li>' +
                    '<li class="k-radio-item">' +
                    '<input type="radio" id="mastercard" name="' + item.field + '" value="MasterCard" class="k-radio k-radio-md" required />' +
                    '<label class="card mastercard" for="mastercard"  tabindex="0"></label>' +
                    '</li>' +
                    '<li class="k-radio-item">' +
                    '<input type="radio" id="paypal" name="' + item.field + '" value="PayPal" class="k-radio k-radio-md" required />' +
                    '<label class="card paypal" for="paypal" tabindex="0">' +
                    '</li>' +
                    '</ul>' +
                    '</div>' +
                    '<span class="k-invalid-msg" data-for="' + item.field + '"></span>'
                ));
            }

        </script>

        <style>
            .payment-type input {
                visibility: hidden;
                position: absolute;
            }

            .justify-payment {
                display: flex;
                justify-content: space-between;
            }

            .card {
                cursor: pointer;
                background-size: auto;
                background-repeat: no-repeat;
                background-position: center;
                display: inline-block;
                width: 135px;
                height: 70px;
                border: 1px solid;
                filter: brightness(1.8) grayscale(1) opacity(.7);
                margin: 2px;
            }

                .card:hover {
                    filter: brightness(1.2) grayscale(.5) opacity(.9);
                }

                .card:focus {
                    box-shadow: 0 0 0 2px #d5d5d5;
                    outline: none;
                }

            .visa {
                background-image: url(https://cdn-icons-png.flaticon.com/128/196/196578.png);
            }

            .mastercard {
                background-image: url(https://cdn-icons-png.flaticon.com/128/196/196561.png);
            }

            .paypal {
                background-image: url(https://cdn-icons-png.flaticon.com/128/196/196565.png);
            }

            .payment-type input:active + .card {
                opacity: .9;
            }

            .payment-type input:checked + .card {
                filter: none;
            }
        </style>
    </div>

    <div id="example">
        <div class="demo-section wide" style="width:700px">
            <form id="wizard2" style="width:500px; margin: 0 auto;" novalidate></form>
        </div>
        <script>

            $(document).ready(function () {

                $("#wizard2").kendoWizard({
                    pager: true,
                    contentPosition: "bottom",
                    stepper: {
                        indicator: true,
                        label: true,
                        linear: true
                    },
                    done: function (e) {
                        e.originalEvent.preventDefault();
                        kendo.alert("Thank you for registering! Registration details will be sent to your email.");
                    },
                    actionBar: true,
                    steps: [{
                        title: "Registration",
                        buttons: ["next"],
                        form: {
                            orientation: "horizontal",
                            formData: {
                                Username: "johny",
                                Email: "john.doe@email.com",
                                Password: "pass123",
                                Birth: new Date()
                            },
                            items: [
                                { field: "Username", label: "Username:", validation: { required: true } },
                                { field: "Email", label: "Email:", validation: { required: true, email: true } },
                                { field: "Password", label: "Password:", validation: { required: true }, hint: "Hint: enter alphanumeric characters only.", attributes: { type: "password" } },
                                { field: "Birth", label: { text: "Date of Birth:", optional: true } }
                            ]

                        }
                    },
                    {
                        title: "Personal Details",
                        buttons: ["previous", "done"],
                        form: {
                            formData: {
                                FirstName: "John",
                                LastName: "Doe",
                                Country: "1",
                                City: "Strasbourg",
                                AddressLine: ""
                            },
                            layout: "grid",
                            grid: {
                                cols: 2,
                                gutter: 20
                            },
                            items: [
                                {
                                    type: "group",
                                    label: "Personal Information",
                                    layout: "grid",
                                    grid: { cols: 1, gutter: 10 },
                                    items: [
                                        {
                                            field: "FirstName",
                                            label: "First Name:",
                                            validation: { required: true }
                                        },
                                        {
                                            field: "LastName",
                                            label: "Last Name:",
                                            validation: { required: true }
                                        }
                                    ]
                                },
                                {
                                    type: "group",
                                    label: "Shipping Address",
                                    layout: "grid",
                                    grid: { cols: 2, gutter: 10 },
                                    items: [
                                        {
                                            field: "Country",
                                            editor: "DropDownList",
                                            label: "Country:",
                                            validation: { required: true },
                                            colSpan: 1,
                                            editorOptions: {
                                                optionLabel: "Select...",
                                                dataSource: [
                                                    { Name: "France", Id: 1 },
                                                    { Name: "Germany", Id: 2 },
                                                    { Name: "Italy", Id: 3 },
                                                    { Name: "Spain", Id: 4 }
                                                ],
                                                dataTextField: "Name",
                                                dataValueField: "Id"
                                            }
                                        },
                                        {
                                            field: "City",
                                            label: "City:",
                                            validation: { required: true },
                                            colSpan: 1
                                        },
                                        {
                                            field: "AddressLine",
                                            label: "Address Line:",
                                            validation: { required: true },
                                            colSpan: 2
                                        },
                                    ]
                                }
                            ],
                        },
                    }]
                });
            })
        </script>
    </div>
    
    <div id="example">
        <div class="demo-section wide">
            <div id="wizard3"></div>
        </div>
        <script>
            $("#wizard3").kendoWizard({
                loadOnDemand: true,
                reloadOnSelect: false,
                steps: [
                    {
                        title:"Welcome",
                        buttons: ["next"],
                        contentUrl: "../content/web/wizard/ajax/ajaxContent1.html"
                    },
                    {
                        title: "Attendee Details",
                        contentUrl: "../content/web/wizard/ajax/ajaxContent2.html",
                    }, 
                    {
                        title: "Agenda",
                        buttons: ["previous", "next"],
                        contentUrl: "../content/web/wizard/ajax/ajaxContent3.html",
                    }, 
                    {
                        title: "Finalize",
                        buttons: ["previous", "done"],
                        contentUrl: "../content/web/wizard/ajax/ajaxContent4.html"
                    },
                ],
                done: function(e) {
                    e.preventDefault();
                    var form = $('#attendeeDetails').getKendoForm();
                var talkDDLValue = $("#talk").data("kendoDropDownList").value();
                var workshopDDLValue = $("#workshop").data("kendoDropDownList").value();

                if (!form.validate()) {
                    e.sender.stepper.steps()[1].setValid(false);
                    kendo.alert("Please complete registration form");
                    e.sender.select(1);
                }
                else if (talkDDLValue == "" || workshopDDLValue == "") {
                    e.sender.stepper.steps()[1].setValid(true);
                    e.sender.stepper.steps()[2].setValid(false);
                    kendo.alert("Please select the talk and workshop you want to subscribe for");
                    e.sender.select(2);
                }
                else {
                    if (e.sender.stepper.steps()[1].options.error) {
                        e.sender.stepper.steps()[1].setValid(true);
                        e.sender.stepper.steps()[2].setValid(true);
                    }

                    kendo.alert("Thank you for registering! Registration details will be sent to your email.");
                }
                },
                select: function (e) {
                    if (e.step.options.index == 3) {
                        updateSelection(e);
                    }
                },
                contentLoad: function (e) {
                    if (e.step.options.index == 3) {
                        updateSelection(e);
                    }
                },
                reset: function () {
                    var form = $('#attendeeDetails').getKendoForm();

                    if (form) {
                        form.clear();
                    }
                }
            });

            function updateSelection(e){
                var selectedTalk = e.sender.wrapper.find('#talk').getKendoDropDownList().dataitem();
                var selectedWorkshop = e.sender.wrapper.find('#workshop').getKendoDropDownList().dataItem();
                
                $('#selectedTalk').html(selectedTalk.id === '' ? '': selectedTalk.title);
                $('#selectedWorkshop').html(selectedWorkshop.id === '' ? '' : selectedWorkshop.title);
            }
        </script>

        <style>
            .wizardContainer{
                display: flex;
                height: 250px;
                justify-content: center;
                align-items: center;
            }
        </style>
    </div>


    <div class="configurator">
        <div class="header">Configurator</div>
        <div class="box-col">
            <h4>Content position Settings</h4>
            <label for="contentPosition">Position:</label>
            <input id="contentPosition4" name="contentPosition" />
        </div>
    </div>
    <div id="example">
        <div class="demo-section wide" style="width: 700px;">
            <div id="validation-success4"></div>
            <form id="wizard4" style="width: 500px; margin: 0 auto;" novalidate></form>
        </div>

        <script>
            $(document).ready(function () {
                $("#contentPosition4").kendoDropDownList({
                    dataTextField: "text",
                    dataValueField: "value",
                    value: "bottom",
                    dataSource: [
                        { text: "Bottom", value: "bottom" },
                        { text: "Right", value: "right" },
                        { text: "Left", value: "left" }],
                    change: onChange
                });

                function onChange(e) {
                    e.preventDefault();
                    initWizard();
                };

                var initWizard = function () {
                    if ($("#wizard4").data("kendoWizard")) {
                        $("#wizard4").data("kendoWizard").destroy();
                        $("#wizard4").empty();
                        $("#wizard4").removeClass();
                    }

                    var contentPosition = $("#contentPosition4").data("kendoDropDownList").value();

                    $("#wizard4").kendoWizard({
                        done: function (e) {
                            e.originalEvent.preventDefault();
                            kendo.alert("Thank you for registering! Registration details will be sent to your email");
                        },
                        contentPosition: contentPosition,
                        steps: [
                            {
                                title: "User data",
                                form: {
                                    orientation: "vertical",
                                    formData: {
                                        FirstName: "John",
                                        LastName: "Doe",
                                    },
                                    items: [
                                        { field: "FirstName", title: "String", label: "First Name:", validation: { required: true } },
                                        { field: "LastName", title: "String", label: "Last Name:", validation: { required: true } }]
                                },
                                buttons: ["next"]
                            },
                            {
                                title: "Login data",
                                form: {
                                    orientation: "vertical",
                                    formData: {
                                        Username: "johny",
                                        Email: "john.doe@email.com",
                                        Password: "pass123",
                                    },
                                    items: [
                                        { field: "Username", label: "Username:", validation: { required: true } },
                                        { field: "Email", label: "Email:", validation: { required: true, email: true } },
                                        { field: "Password", label: "Password:", validation: { required: true }, hint: "Hint: enter alphanumeric characters only.", attributes: { type: "password" } },
                                    ]
                                },
                                buttons: ["previous", "next"]
                            },
                            {
                                title: "Register",
                                content: '<h3>Click on the "Register" button to complete your registration.</h3>',
                                buttons: [
                                    "previous",
                                    { name: "done", text: "Register" }
                                ]
                            },
                        ]
                    });
                };

                initWizard();
            })
        </script>

    </div>

    <div id="example">
        <div class="demo-section wide" style="width: 700px;">
            <form id="wizard5" novalidate></form>
        </div>

        <script>
            $("#wizard5").kendoWizard({
                contentPosition: "right",
                validateForms: false,
                done: function (e) {
                    e.originalEvent.preventDefault();
                    kendo.alert("Thank you for registering! Registration details will be sent to your email.");
                },
                stepper: {
                    linear: false
                },
                steps: [
                    {
                        title: "Welcome",
                        buttons: ["next"],
                        content: '<div style="text-align:center"><h3>Complete the Registration Form to enroll in the course</h3></div>'
                    },
                    {
                        title: "User Details",
                        buttons: ["previous", "next"],
                        form: {
                            formData: {
                                FirstName: "",
                                LastName: "",
                                Email: ""
                            },
                            items: [
                                { field: "Username", label: "Username:", validation: { required: true } },
                                { field: "Email", label: "Email:", validation: { required: true, email: true } },
                                { field: "Password", label: "Password:", validation: { required: true }, hint: "Hint: enter alphanumeric characters only.", attributes: { type: "password" } }
                            ]
                        }
                    }, {
                        title: "Personal Details",
                        buttons: ["previous", "next"],
                        form: {
                            formData: {
                                FirstName: "",
                                LastName: "",
                                DateOfBirth: new Date()
                            },
                            items: [
                                { field: "FirstName", label: "First Name:", validation: { required: true } },
                                { field: "LastName", label: "Last Name:", validation: { required: true } },
                                { field: "DateOfBirth", label: "Date of Birth:", validation: { required: true } }
                            ]
                        },
                    }, {
                        title: "Finish",
                        buttons: ["previous", "done"],
                        content: '<div style="text-align:center"><h3>Registration Complete!</h3></div>'
                    },
                ]
            });

            $(document.body).keydown(function (e) {
                if (e.altKey && e.keyCode == 87) {
                    $("#wizard5 .k-step-current .k-step-link").focus();
                }
            });
        </script>
    </div>

</body>