<head>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2023.1.117/styles/kendo.default-ocean-blue.min.css" />
    <script src="https://kendo.cdn.telerik.com/2023.1.117/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2023.1.117/js/kendo.all.min.js"></script>
</head>
<div>
    <div class="demo-section wide">
        <div id="chart"></div>
    </div>
</div>

<div>
    Stacked Area
    <div class="demo-section wide">
        <div id="chart2"></div>
    </div>
</div>

<div>
    100% Stacked Area
    <div class="demo-section wide">
        <div id="chart3"></div>
    </div>
</div>

<div>
    Stepped Area
    <div class="demo-section wide">
        <div id="chart4"></div>
    </div>
</div>

<div>
    Smooth Area
    <div class="demo-section wide">
        <div id="chart5"></div>
    </div>
</div>

<div class="absConf">
    Multi-axis
    <div class="demo-section wide">
        <div id="chart6"></div>
    </div>
</div>

<div class="absConf">
    Error Bars
    <div class="demo-section wide">
        <div id="chart7"></div>
    </div>
</div>

<div class="absConf">
    Binding to Local Data
    <div class="demo-section wide">
        <div id="chart8"></div>
    </div>
</div>

<script src="~/js/areacharts.js"></script>

