<div>
    <div class="demo-section wide">
        <div id="chart" style="background: center no-repeat url('../content/shared/styles/world-map.png');"></div>
    </div>
</div>

<div>
    Column Chart
    <div class="demo-section wide">
        <div id="chart2" style="background: center no-repeat url('../content/shared/styles/world-map.png');"></div>
    </div>
</div>

<div>
    Stacked Bars
    <div class="demo-section wide">
        <div id="chart3"></div>
    </div>
</div>

<div>
    Stacked and Grouped Bars
    <div class="demo-section wide">
        <div id="chart4"></div>
    </div>
</div>

<div>
    100% Stacked Bars
    <div class="demo-section wide">
        <div id="chart5"></div>
    </div>
</div>

<div>
    100% Stacked and grouped Bars
    <div class="demo-section wide">
        <div id="chart6"></div>
    </div>
</div>

<div>
    Logarithmic Axis
    <div class="demo-section wide">
        <div id="chart7"></div>
    </div>
</div>

<div>
    Multi-axis
    <div class="demo-section wide">
        <div id="chart8"></div>
    </div>
</div>

<div>
    Error Bars
    <div class="demo-section wide">
        <div id="chart9"></div>
    </div>
</div>

<div>
    Custom Visuals
    <div class="demo-section wide">
        <div id="chart10"></div>
    </div>
</div>

<div>
   Binding to Remote Data
    <div class="demo-section wide">
        <div id="chart11"></div>
    </div>
</div>


<script src="~/js/barcharts.js"></script>