<div>
    <div class="demo-section wide">
        <div id="chart"></div>
        <ul>
            <li>Circle size shows number of job applicants</li>
            <li>Vertical position shows number of employees</li>
            <li>Horizontal position shows job growth</li>
        </ul>
    </div>
</div>

<div>
    <div class="demo-section wide">
        <div id="chart2"></div>
        <ul>
            <li>Circle size shows number of job applicants</li>
            <li>Vertical position shows number of employees</li>
            <li>Horizontal position shows job growth</li>
        </ul>
    </div>
</div>

<div>
    <div class="demo-section wide">
        <div id="chart"></div>
    </div>
</div>
<script src="~/js/bubblecharts.js"></script>