<div>
    <div class="demo-section">
        <table class="history">
            <tr>
                <td class="item">mmHg</td>
                <td class="chart"><div id="chart-mmHg"></div></td>
            </tr>
            <tr>
                <td class="item">hPa</td>
                <td class="chart"><div id="chart-hPa"></div></td>
            </tr>
            <tr>
                <td class="item">hum</td>
                <td class="chart"><div id="chart-hum"></div></td>
            </tr>
            <tr>
                <td class="item">temp</td>
                <td class="chart"><div id="chart-temp"></div></td>
            </tr>
        </table>
    </div>
</div>

<div>
    Blinding to Local Data
    <div class="demo-section wide">
        <div id="chart-mmHg2"></div>
        <div id="chart-hPa2"></div>
    </div>
</div>

<div>
    Blinding to Remote Data
    <div class="demo-section wide">
        <div id="chart-sales3"></div>
    </div>
</div>
<script src="~/js/bulletcharts.js"></script>