<div id="example">
    <div class="demo-section wide">
        <div id="chart"></div>
    </div>
</div>

<div>
    Binding to Local Data
    <div class="demo-section wide">
        <div id="chart2"></div>
    </div>
</div>


<script src="~/js/donutcharts.js"></script>