<div class="demo-section wide">
        <h4>Sales statistics</h4>
        <div id="chart-oct"></div>
        <div id="chart-nov"></div>
        <div id="chart-dec"></div>
 </div>

<div class="demo-section">
    Funnel Labels
    <div id="chart2"></div>
</div>

<div class="demo-section">
    Binding to remote Data
    <div id="chart3"></div>
</div>

<div>
    <div class="demo-section wide">
    <h4>Estadisticas de optimizacion Web</h4>
        <div id="before"></div>
        <div id="after"></div>
    </div>
</div>
<script src="~/js/funnelcharts.js"></script>