<div>
    <div class="demo-section wide">
        <div id="heatmap"></div>
    </div>
</div>
<div>
    Binding to Local Data
    <div class="demo-section wide">
        <div id="heatmap2"></div>
    </div>
</div>
<div>
    Markers
    <div class="configurator">
        <div class="header">Configurator</div>
        <div class="box-col">
            <h4>Selection</h4>
            <ul class="options">
                <li>
                    <h4>Choose a marker type:</h4>
                    <input id="dropDownList" />
                </li>
            </ul>
        </div>
    </div>
    <div class="demo-section wide">
        <div id="heatmap3"></div>
    </div>
</div>
<script src="~/js/heatmap.js"></script>