<div>
    <div class="demo-section wide">
        <div id="chart"></div>
    </div>
</div>

<div>
    Stacked Line
    <div class="demo-section wide">
        <div id="chart2"></div>
    </div>
</div>

<div>
    100% Stacked Line
    <div class="demo-section wide">
        <div id="chart3"></div>
    </div>
</div>

<div>
    Stepped Line
    <div class="demo-section wide">
        <div id="chart4"></div>
    </div>
</div>

<div>
    Smooth Line
    <div class="demo-section wide">
        <div id="chart5"></div>
    </div>
</div>

<div>
    Multi Axis
    <div class="demo-section wide">
        <div id="chart6"></div>
    </div>
</div>

<div>
    Notes
    <div class="demo-section wide">
        <div id="chart7"></div>
    </div>
</div>

<div>
    Errors Bars
    <div class="demo-section wide">
        <div id="chart8"></div>
    </div>
</div>

<div>
    Binding to Local Data
    <div class="demo-section wide">
        <div id="chart9"></div>
    </div>
</div>

<script src="~/js/linecharts.js"></script>