<div>
    <div class="demo-section wide">
        <div id="chart"></div>
    </div>
</div>
<div>
    Smooth Polar Line
    <div class="demo-section wide">
        <div id="chart2"></div>
    </div>
</div>
<div>
    Polar Scatter
    <div class="demo-section wide">
        <div id="chart3"></div>
    </div>
</div>
<div>
    Polar Area
    <div class="demo-section wide">
        <div id="chart4"></div>
    </div>
</div>
<div>
    Binding to Local data
    <div class="demo-section wide">
        <div id="chart5"></div>
    </div>
</div>
<script src="~/js/polarcharts.js"></script>