<div>
    <div class="demo-section wide">
        <div id="chart"></div>
    </div>
</div>

<div>
    Radar Area
    <div class="demo-section wide">
        <div id="chart2"></div>
    </div>
</div>

<div>
    Radar Column
    <div class="demo-section wide">
        <div id="chart3"></div>
    </div>
</div>

<div>
    Binding to local data
    <div class="demo-section wide">
        <div id="chart4"></div>
    </div>
</div>
<script src="~/js/radarcharts.js"></script>