<div>
    <div class="demo-section wide">
        <div id="chart"></div>
    </div>
</div>

<div>
    <div class="demo-section wide">
        <div id="chart2"></div>
    </div>
</div>
<script src="~/js/rangebarcharts.js"></script>