<div class="demo-section wide">
    <div id="chart"></div>
</div>

<div class="demo-section wide">
    Scatter line
    <div id="chart2"></div>
</div>

<div class="demo-section wide">
    Smooth Scatter line
    <div id="chart3"></div>
</div>

<div class="demo-section wide">
    Multi Axis
    <div id="chart4"></div>
</div>

<div id="example">
    Zoom
    <div class="demo-section wide">
        <div id="chart5"></div>
    </div>
</div>

<div id="example2">
    Custom Zoom
    <div class="demo-section wide">
        <div id="chart6"></div>
    </div>
</div>

<div id="example2">
    Local Data
    <div class="demo-section wide">
        <div id="chart7"></div>
    </div>
</div>

<script src="~/js/scattercharts.js"></script>