<div class="demo-section">
    <div class="climate">
        <h4>
            Control del Clima
        </h4>
        <table class="history">
            <tr>
                <td class="spark"><span id="press-log"></span></td>
                <td class="value">980<span>mb</span></td>
            </tr>
            <tr>
                <td class="spark"><span id="temp-log"></span></td>
                <td class="value">21<span>&deg;C</span></td>
            </tr>
            <tr>
                <td class="spark"><span id="hum-log"></span></td>
                <td class="value">32<span>%</span></td>
            </tr>
        </table>
    </div>
    <div class="temperature">
        <h4>
            Temperature control
        </h4>
        <div class="stats">
            <span id="temp-range"></span>
        </div>
    </div>
    <div class="conditioner">
        <h4>
            Conditioner working time
        </h4>
        <ul class="pie-list stats">
            <li>MON <span id="stats-mon"></span></li>
            <li>TUE <span id="stats-tue"></span></li>
            <li>WED <span id="stats-wed"></span></li>
            <li>THU <span id="stats-thu"></span></li>
            <li>FRI <span id="stats-fri"></span></li>
            <li>SAT <span id="stats-sat"></span></li>
            <li>SUN <span id="stats-sun"></span></li>
        </ul>
    </div>
</div>

<script src="~/js/sparklines.js"></script>