<div class="demo-section wide">
    <div id="chart"></div>
</div>

<div class="demo-section wide">
    Horizontal Waterfall
    <div id="chart2"></div>
</div>
<script src="~/js/waterfallcharts.js"></script>