<div class="demo-section">
    <div id="chat"></div>
</div>
<style>
    html .k-chat .k-card-deck .k-card {
        flex-basis: 230px;
    }

    .k-card > img.k-card-image {
        height: 115px;
        display: block;
    }
</style>

Tooltip
<div id="chart2"></div>
<input name="files" id="files" type="file" />
<div class="demo-hint">Puedes usar la herramienta de imagenes para enviar una imagen o soltar una imagen en el chat</div>
    
<script src="~/js/chat.js"></script>