<div id="diagram"></div>

Editing
<div id="diagram2" style="height:600px;"></div>

Advanced Export
<div class="box-col">
    <h4>Export diagram content</h4>
    <div class="box-col">
        <button class='export-pdf'>Export as PDF</button>
    </div>
    <div class="box-col">
        <button class='export-img'>Export as Image</button>
    </div>
    <div class="box-col">
        <button class='export-svg'>Export as SVG</button>
    </div>
</div>
<div class="demo-section wide">
    <div id="diagram3"></div>
</div>
<script src="~/js/diagram.js"></script>